{% load staticfiles %}

<header class="group">
    <a href="#" class="logo"><img src="{% static 'images/header_logo.png' %}" alt="logotype"></a>

    <nav class="responsive menu-collapsed">
        <div class="bar"></div>
        <ul class="menu">
            <li>
                <a href="{% url 'index' %}" {% if location == 'index' %} class="link_active" {% endif %}>Главная</a>
            </li>
            <li>
                <a href="{% url 'actor' %}"  {% if location == 'actor' %} class="link_active" {% endif %}>Актеры</a>
            </li>
            <li>
                <a href="{% url 'beactor' %}" {% if location == 'become_an_actor' %}class="link_active" {% endif %}>Стать
                    актером</a></li>
            <li>
                <a href="{% url 'moviemaker' %}" {% if location == 'moviemaker' %}class="link_active" {% endif %}>Кинематографисты</a>
            </li>
            <li><a
                    href="{% url 'studio' %}" {% if location == 'studio' %}class="link_active" {% endif %}>Студии</a>
            </li>
            <li><a
                    href="{% url 'location' %}"
                    {% if location == 'location' %}class="link_active" {% endif %}>локации</a></li>

            <li><a
                    href="{% url 'news' %}" {% if location == 'news' %}class="link_active" {% endif %}>Новости и
                кастинги</a></li>
            <li><a
                    href="{% url 'about' %}" {% if location == 'about' %}class="link_active" {% endif %}>О нас</a></li>
            {#            <li><a href="#">Контакты</a></li>#}
        </ul>
    </nav>

    <div class="h_block">
        <div class="p_number"><img src="{% static 'images/phone_icon.png' %}" alt="icon">+ 996 558 002 444
        </div>
    </div>
</header>