{% extends 'base.html' %}

{% block content %}
    <div class="bg1">
        <div class="content1 grid">

            {% include 'main/navbar.html' %}

            <div class="main_page">
                <h1>Ведущее кастинговое агентство Кыргызстана</h1>

                <p>Крупная база актеров, а так же кинематографистов, студий и локаций</p>

                <ul class="participants">
                    <li><a href="#"><img src="assets/images/p_1.jpg" alt="image"></a></li>
                    <li><a href="#"><img src="assets/images/p_1.jpg" alt="image"></a></li>
                    <li><a href="#"><img src="assets/images/p_1.jpg" alt="image"></a></li>
                    <li><a href="#"><img src="assets/images/p_1.jpg" alt="image"></a></li>
                    <li><a href="#"><img src="assets/images/p_1.jpg" alt="image"></a></li>
                    <li class="middle"><a href="#"><img src="assets/images/p_1.jpg" alt="image"></a></li>
                    <li class="middle"><a href="#"><img src="assets/images/p_1.jpg" alt="image"></a></li>
                    <li class="middle"><a href="#"><img src="assets/images/p_1.jpg" alt="image"></a></li>
                    <li class="middle"><a href="#"><img src="assets/images/p_1.jpg" alt="image"></a></li>
                    <li class="middle"><a href="#"><img src="assets/images/p_1.jpg" alt="image"></a></li>
                    <li class="middle"><a href="#"><img src="assets/images/p_1.jpg" alt="image"></a></li>
                    <li class="bottom"><a href="#"><img src="assets/images/p_1.jpg" alt="image"></a></li>
                    <li class="bottom"><a href="#"><img src="assets/images/p_1.jpg" alt="image"></a></li>
                    <li class="bottom"><a href="#"><img src="assets/images/p_1.jpg" alt="image"></a></li>
                    <li class="bottom"><a href="#"><img src="assets/images/p_1.jpg" alt="image"></a></li>
                    <li class="bottom"><a href="#"><img src="assets/images/p_1.jpg" alt="image"></a></li>
                </ul>


                <ul class="links">
                    <li><a class="button" href="#">найти актера</a></li>
                    <li><a class="button" href="#">попасть в базу</a></li>
                    <li><a href="#">
                        <p>Прокрутите вниз</p>
                        <img src="assets/images/scroll.png" alt="scroll">
                    </a></li>
                </ul>
            </div>
        </div>
    </div>

    <div class="bg2">
        <div class="content2 grid">

            <h2>услуги от профессионалов в своем деле</h2>

            <div class="line"></div>

            <p>Организация и проведение кастингов "под ключ", подбор актерского состава от главных героев до статистов
                для массовки, предоставление сотрудников актерского департамента, аутсорсинг. Наш метод: все делаем
                сами!
                Вся работа с актерами на площадке и вся бумажная волокита – это забота нашей команды, команды опытных
                профессионалов ( кастинг, пробы, договоры, занятость и тд.)</p>

            <div class="services">
                <div class="service">
                    <img src="assets/images/service1.png" alt="service">
                    <h5><a href="#">Организация и проведение кастингов</a></h5>

                    <p>Организацию и проведение кастингов "под ключ" любого уровня сложности для кино, рекламы, фото, ТВ
                        и
                        других проектов </p>
                    <a class="button" href="#">подробнее</a>
                </div>

                <div class="service">
                    <img src="assets/images/service2.png" alt="service">
                    <h5><a href="#">Подбор актерского состава от главных героев до статистов для массовки</a></h5>

                    <p>Наша база уже насчитывает более тысячи актеров и актрис различных типажей и возрастов.
                        При этом ее пополнение и обновление происходит ежедневно. Удобная система поиска позволяет
                        находить
                        подходящего актера в кратчайшие сроки. Работать с базой – легко и приятно. Подберем актеров на
                        роли
                        главных героев, второго плана, каскадёров, массовки и других.</p>
                    <a class="button" href="#">подробнее</a>
                </div>

                <div class="service">
                    <img src="assets/images/service3.png" alt="service">
                    <h5><a href="#">Предоставление сотрудников актерского департамента</a></h5>

                    <p>Мы подберем профессионалов в своем деле (кастинг-директор, ассистент по актёрам,
                        менеджер по работе с массовкой)</p>
                    <a class="button" href="#">подробнее</a>
                </div>

                <div class="service">
                    <img src="assets/images/service4.png" alt="service">
                    <h5><a href="#">Аутсорсинг</a></h5>

                    <p>Обслуживание на постоянной осонове продакшн-компаний, рекламных агентств, студий, каналов.
                        Мы работаем для тех, кто снимает кино, телесериалы, рекламные и социальные ролики.</p>
                    <a class="button" href="#">подробнее</a>
                </div>
            </div>
        </div>
    </div>

    <div class="bg3">
        <div class="content3 grid">
            <h2>Кастинговое агентство "The Face"</h2>

            <div class="line"></div>

            <div class="iframe">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2923.951587032065!2d74.57456831504412!3d42.
            873865979155795!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x389ec83dc60d126d%3A0x8284c6d6bf6e481!2zU3V
            ucmlzZSBTdHVkaW8gLSDQoNCw0LfRgNCw0LHQvtGC0LrQsCDRgdCw0LnRgtC-0LIg0Lgg0LzQvtCx0LjQu9GM0L3Ri9GFINC_0YDQuNC70L7Qt
            tC10L3QuNC5INCR0LjRiNC60LXQug!5e0!3m2!1sru!2skg!4v1481612842163" frameborder="0" style="border:0"
                        allowfullscreen>
                </iframe>
            </div>

            <p>Посмотрите видео, о том, как мы работаем</p>
        </div>
    </div>

    <div class="bg4">
        <div class="content4 grid">
            <h2>Наши преимущества</h2>

            <div class="line"></div>

            <div class="advantages">
                <div class="advantage">
                    <div class="img_block">
                        <img src="assets/images/advantage1.png" alt="advantage">
                    </div>
                    <p>Ежедневно обновляемая база</p>
                </div>

                <div class="advantage">
                    <div class="img_block">
                        <img src="assets/images/advantage3.png" alt="advantage">
                    </div>
                    <p>Профессиональные актеры и новые лица</p>
                </div>

                <div class="advantage">
                    <div class="img_block">
                        <img src="assets/images/advantage2.png" alt="advantage">
                    </div>
                    <p>Актеры любого возраста и типажа</p>
                </div>

                <div class="advantage">
                    <div class="img_block">
                        <img src="assets/images/advantage4.png" alt="advantage">
                    </div>
                    <p>Быстрый и удобный поиск</p>
                </div>

                <div class="advantage">
                    <div class="img_block">
                        <img src="assets/images/advantage5.png" alt="advantage">
                    </div>
                    <p>Гибкие расценки</p>
                </div>
            </div>

            <h4>Не нашли на сайте? Найдем!</h4>
            <a href="#" class="button">найти актера</a>
        </div>
    </div>

    <div class="bg5">
        <div class="slider">
            <div class="sl_slide">
                <img src="assets/images/sl_image1.jpg" alt="image">
            </div>

            <div class="sl_slide">
                <img src="assets/images/sl_image1.jpg" alt="image">
            </div>

            <div class="sl_slide">
                <img src="assets/images/sl_image1.jpg" alt="image">
            </div>
        </div>

        <div class="content5 grid group">
            <div class="form">
                <h2>Поиски актеров затянулись?</h2>

                <div class="line"></div>

                <p>Заполните форму с указанием информации о типаже </p>

                <p>и получите 5 вариантов актеров<img src="assets/images/pointer.png" alt="image"></p>

                <form method="post" action="#">
                    <label>
                        <input type="text" name="name" placeholder="Ваше имя?">
                    </label>

                    <label>
                        <input type="tel" name="number">
                    </label>

                    <label>
                        <textarea name="comments" cols="20" rows="10" placeholder="Информация о типаже"></textarea>
                    </label>

                    <input type="submit" value="Получить варианты">

                </form>
            </div>
        </div>
    </div>

{% endblock %}