{% extends 'base.html' %}

{% load widget_tweaks %}

{% load staticfiles %}

{% block content %}
    <div class="bg1">
        <div class="content1 grid">

            {% include 'main/navbar.html' %}

            <div class="main_page">
                <h1>Кастинговое агентство Кыргызстана</h1>

                <p>Крупная база актеров, а так же кинематографистов, студий и локаций</p>

                <ul class="participants">
                    {% for actor in actors %}

                        <li><a href="{{ actor.get_absolute_url }}"><img src="/media/{{ actor.image }}" alt="image"></a>
                        </li>
                    {% endfor %}

                    {% for actor in actors1 %}

                        <li class="middle"><a href="{{ actor.get_absolute_url }}"><img src="/media/{{ actor.image }}"
                                                                                       alt="image"></a></li>

                    {% endfor %}

                    {% for actor in actors2 %}
                        <li class="bottom"><a href="{{ actor.get_absolute_url }}"><img src="/media/{{ actor.image }}"
                                                                                       alt="image"></a></li>
                    {% endfor %}
                </ul>


                <ul class="links">
                    <li><a class="button" href="{% url 'actor' %}">найти актера</a></li>
                    <li><a class="button" href="{% url 'beactor' %}">попасть в базу</a></li>
                    <li><a href="#down">
                        <p>Прокрутите вниз</p>
                        <img class="wow fadeOutDown" data-wow-delay=".5s" data-wow-iteration="infinite"
                             src="{% static 'images/down.png' %}" alt="scroll">
                        <img class="wow fadeOutDown" data-wow-delay=".1s" data-wow-iteration="infinite"
                             src="{% static 'images/down.png' %}" alt="scroll">
                    </a></li>
                </ul>
            </div>
        </div>
    </div>

    <div class="bg2" id="down">
        <div class="content2 grid">

            <h2>услуги от профессионалов в своем деле</h2>

            <div class="line"></div>

            <p>Организация и проведение кастингов "под ключ", подбор актерского состава от главных героев до статистов
                для массовки, предоставление сотрудников актерского департамента, аутсорсинг. Наш метод: все делаем
                сами!
                Вся работа с актерами на площадке и вся бумажная волокита – это забота нашей команды, команды опытных
                профессионалов ( кастинг, пробы, договоры, занятость и тд.)</p>

            <div class="services">
                <div class="service">
                    <img src="{% static 'images/service1.png' %}" alt="service">
                    <h5><a href="#">Организация и проведение кастингов</a></h5>

                    <p>Организацию и проведение кастингов "под ключ" любого уровня сложности для кино, рекламы, фото, ТВ
                        и
                        других проектов </p>
{#                    <a class="button" href="#">подробнее</a>#}
                </div>

                <div class="service">
                    <img src="{% static 'images/service2.png' %}" alt="service">
                    <h5><a href="#">Подбор актерского состава от главных героев до статистов для массовки</a></h5>

                    <p>Наша база уже насчитывает более тысячи актеров и актрис различных типажей и возрастов.
                        При этом ее пополнение и обновление происходит ежедневно. Удобная система поиска позволяет
                        находить
                        подходящего актера в кратчайшие сроки. Работать с базой – легко и приятно. Подберем актеров на
                        роли
                        главных героев, второго плана, каскадёров, массовки и других.</p>
{#                    <a class="button" href="#">подробнее</a>#}
                </div>

                <div class="service">
                    <img src="{% static 'images/service3.png' %}" alt="service">
                    <h5><a href="#">Предоставление сотрудников актерского департамента</a></h5>

                    <p>Мы подберем профессионалов в своем деле (кастинг-директор, ассистент по актёрам,
                        менеджер по работе с массовкой)</p>
{#                    <a class="button" href="#">подробнее</a>#}
                </div>

                <div class="service">
                    <img src="{% static 'images/service4.png' %}" alt="service">
                    <h5><a href="#">Аутсорсинг</a></h5>

                    <p>Обслуживание на постоянной осонове продакшн-компаний, рекламных агентств, студий, каналов.
                        Мы работаем для тех, кто снимает кино, телесериалы, рекламные и социальные ролики.</p>
{#                    <a class="button" href="#">подробнее</a>#}
                </div>
            </div>
        </div>
    </div>

    <div class="bg3">
        <div class="content3 grid">
            <h2>Кастинговое агентство "The Face"</h2>

            {#            <div class="line"></div>#}
            {##}
            {#            <div class="iframe">#}
            {#                <iframe src="https://www.youtube.com/embed/c1sBLK_hjhs" frameborder="0" allowfullscreen></iframe>#}
            {#            </div>#}
            {##}
            {#            <p>Посмотрите видео, о том, как мы работаем</p>#}
        </div>
    </div>

    <div class="bg4">
        <div class="content4 grid">
            <h2>Наши преимущества</h2>

            <div class="line"></div>

            <div class="advantages">
                <div class="advantage">
                    <div class="img_block">
                        <img src="{% static 'images/advantage1.png' %}" alt="advantage">
                    </div>
                    <p>Ежедневно обновляемая база</p>
                </div>

                <div class="advantage">
                    <div class="img_block">
                        <img src="{% static 'images/advantage3.png' %}" alt="advantage">
                    </div>
                    <p>Профессиональные актеры и новые лица</p>
                </div>

                <div class="advantage">
                    <div class="img_block">
                        <img src="{% static 'images/advantage2.png' %}" alt="advantage">
                    </div>
                    <p>Актеры любого возраста и типажа</p>
                </div>

                <div class="advantage">
                    <div class="img_block">
                        <img src="{% static 'images/advantage4.png' %}" alt="advantage">
                    </div>
                    <p>Быстрый и удобный поиск</p>
                </div>

                <div class="advantage">
                    <div class="img_block">
                        <img src="{% static 'images/advantage5.png' %}" alt="advantage">
                    </div>
                    <p>Гибкие расценки</p>
                </div>
            </div>

            <h4>Не нашли на сайте? Найдем!</h4>
            <a href="#" class="button">найти актера</a>
        </div>
    </div>

    <div class="bg5">
        <div class="slider">
            <div class="sl_slide">
                <img src="{% static 'images/sl_image1.jpg' %}" alt="image">
            </div>

            <div class="sl_slide">
                <img src="{% static 'images/sl_image1.jpg' %}" alt="image">
            </div>

            <div class="sl_slide">
                <img src="{% static 'images/sl_image1.jpg' %}" alt="image">
            </div>
        </div>

        <div class="content5 grid group">
            <div class="form">
                <h2>Поиски актеров затянулись?</h2>

                <div class="line"></div>

                <p>Заполните форму с указанием информации о типаже </p>

                <p>и получите 5 вариантов актеров<img src="{% static 'images/pointer.png' %}" alt="image"></p>

                <form method="post" action="{% url 'application' %}">
                    <label>
                        {% render_field form.name placeholder="Имя" %}
                    </label>

                    <label>
                        {% render_field form.number placeholder="Номер Телефона" %}
                    </label>

                    <label>
                        {% render_field form.info placeholder="Информация о типаже" %}
                    </label>

                    <input type="submit" value="Получить варианты">

                </form>
            </div>
        </div>
    </div>

    {% block scripts %}

        <script>
            new WOW().init();
        </script>


        <script>
            $('ul.links > li:last-child > a[href^="#"]').on('click', function (event) {
                var target = $(this.getAttribute('href'));
                if (target.length) {
                    event.preventDefault();
                    $('html, body').stop().animate({
                        scrollTop: target.offset().top
                    }, 1000);
                }
            });
        </script>

        <script>
            {% if location1 == 'application' %}
                alert({{ message }});
            {% endif %}
        </script>

    {% endblock %}

{% endblock %}