@font-face {
    font-family: 'GothamProRegular';
    src: url('../fonts/GothamProRegular.eot'); /* IE9 Compat Modes */
    src: url('../fonts/GothamProRegular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/GothamProRegular.woff') format('woff'), /* Modern Browsers */
    url('../fonts/GothamProRegular.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'GothamProLight';
    src: url('../fonts/GothamProLight.eot'); /* IE9 Compat Modes */
    src: url('../fonts/GothamProLight.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/GothamProLight.woff') format('woff'), /* Modern Browsers */
    url('../fonts/GothamProLight.ttf') format('truetype');
    /*font-style: normal;*/
    /*font-weight: normal;*/
}

@font-face {
    font-family: 'GothamProBold';
    src: url('../fonts/GothamProBold.eot'); /* IE9 Compat Modes */
    src: url('../fonts/GothamProBold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/GothamProBold.woff') format('woff'), /* Modern Browsers */
    url('../fonts/GothamProBold.ttf') format('truetype');
    /*font-style: normal;*/
    font-weight: bold;
}

@font-face {
    font-family: 'GothamProBlack';
    src: url('../fonts/GothamProBlack.eot'); /* IE9 Compat Modes */
    src: url('../fonts/GothamProBlack.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/GothamProBlack.woff') format('woff'), /* Modern Browsers */
    url('../fonts/GothamProBlack.ttf') format('truetype');
    /*font-style: normal;*/
    /*font-weight: normal;*/
}

@font-face {
    font-family: 'GothamProMedium';
    src: url('../fonts/GothamProMedium.eot'); /* IE9 Compat Modes */
    src: url('../fonts/GothamProMedium.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/GothamProMedium.woff') format('woff'), /* Modern Browsers */
    url('../fonts/GothamProMedium.ttf') format('truetype');
    /*font-style: normal;*/
    /*font-weight: normal;*/
}

@font-face {
    font-family: 'HelveticaThin';
    src: url('../fonts/HelveticaThin.eot'); /* IE9 Compat Modes */
    src: url('../fonts/HelveticaThin.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/HelveticaThin.woff') format('woff'), /* Modern Browsers */
    url('../fonts/HelveticaThin.ttf') format('truetype');
    /*font-style: normal;*/
    /*font-weight: normal;*/
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-size: 0;
}

.grid {
    max-width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
}

.group::before,
.group::after {
    content: "";
    display: table;
}

.group::after {
    clear: both;
}

.group {
    clear: both;
    *zoom: 1;
}


/*//////////////////////////////////////////////////*/
/*----------------------BG1-------------------------*/
/*\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\*/

.bg1{
    background: url("../images/bg1.jpg") center no-repeat;
    /*background-size: cover;*/
    padding: 20px 0 30px 0;
}

.logo{
    float: left;
}

nav{
    float: left;
    margin: 45px 0 0 30px;
}

.menu{
    font-family: "GothamProLight", sans-serif;
    font-size: 0;
}

.menu li{
    display: inline-block;
    padding: 0 8px;
}


.menu a{
    display: block;
    font-size: 12px;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    -webkit-transition: all .1s ease-in;
    -moz-transition: all .1s ease-in;
    -o-transition: all .1s ease-in;
    transition: all .1s ease-in;
    /*padding: 0 8px;*/
}

.menu a:hover{
    color: #8dc125;
    border-bottom: 1px solid #8dc125;
}

.menu li:first-child a{
    color: #8dc125;
    border-bottom: 1px solid #8dc125;
}

.h_block{
    float: right;
    margin-top: 40px;
}

.p_number{
    font-family: "GothamProBold", sans-serif;
    font-size: 14px;
    color: #fff;
}

.p_number img{
    vertical-align: bottom;
}

.language{
    margin-top: 12px;
}

.select,
.language p{
    font-family: "HelveticaThin", sans-serif;
    font-size: 14px;
    color: rgba(255, 255, 255, 0.5);
    display: inline-block;
    vertical-align: top;
}

/*	=	Select */
.select {
    position: relative;
    width: 60px;
}

.slct {
    background: transparent;
    display: block;
    padding-left: 4px;
    color: rgba(255, 255, 255, 0.5);
    text-decoration: none;
    /*
        ����� ���� �������� �����
        ����� �� ������� �� �����
    */
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    -webkit-transition: all .1s ease-out;
    -moz-transition: all .1s ease-out;
    -o-transition: all .1s ease-out;
    transition: all .1s ease-out;
}

.slct:hover {
    color: #fff;
}

.slct.active {
    color: #fff;
}

.drop {
    position: absolute;
    top: 100%;
    width: 100%;
    margin: 0;
    display: none;
    z-index: 101;
    -webkit-box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.37);
    -moz-box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.37);
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.37);
}

.drop li {
    width: 100%;
    padding: 4px 0 4px 4px;
    color: rgba(255, 255, 255, 0.5);
    list-style: none;
    cursor: pointer;
}

.drop li:hover {
    color: #fff;
}

.main_page{
    text-align: center;
}

h1,
h2,
h4,
h5,
h3{
    font-family: "GothamProBlack", sans-serif;

}

h1{
    font-size: 36px;
    color: #fff;
    text-transform: uppercase;
    display: inline-block;
    max-width: 65.81196581196581%;
    margin: 2px 0 12px 0;
}

p{
    font-family: "GothamProLight", sans-serif;
    font-size: 18px;
    color: #fff;
}

.participants{
    display: block;
    max-width: 785px;
    margin: 35px auto 0 auto;
    /*border: 1px solid #fff;*/
    text-align: center;
}

.participants li{
    display: inline-block;
    vertical-align: top;
    width: 90px;
    height: 90px;
    margin: 0 20px;
    border-radius: 11px;
    /*border: 1px solid green;*/
    transform: rotate(45deg);
    overflow: hidden;
}

.participants li:first-child{
    margin-left: 29px;
}

.participants li.middle{
    position: relative;
    top: -15px;
    right: -4px;
    margin: 0 20px;
}

.participants li.bottom{
    position: relative;
    top: -26px;
    right: -4px;
}

.participants li a{
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    transform: rotate(-45deg);
}

.participants a img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.links{
    margin-top: 19px;
}

.links li{
    display: inline-block;
    vertical-align: top;
}

.links li:last-child{
    display: block;
    margin-top: 30px;
}

.links a{
    text-decoration: none;
    -webkit-transition: all .2s ease-out;
    -moz-transition: all .2s ease-out;
    -o-transition: all .2s ease-out;
    transition: all .2s ease-out;
}

.button{
    font-family: "GothamProBlack", sans-serif;
    font-size: 12px;
    line-height: 36px;
    display: block;
    width: 180px;
    height: 35px;
    border-radius: 50px;
    text-transform: uppercase;
}

.links li:first-child .button{
    /*background-color: #71b937;*/
    background: #30ad54; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(left top, #30ad54, #77ba34); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(bottom right, #30ad54, #77ba34); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(bottom right, #30ad54, #77ba34); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to bottom right, #30ad54, #77ba34); /* Standard syntax (must be last) */
    border: 1px solid rgba(255, 255, 255, 0);
    color: #fff;
    margin-right: 15px;
}

.links li:first-child .button:hover{
    background: transparent;
    background: linear-gradient(transparent, transparent);
    border: 1px solid #30ad52;
    color: #30ad54;
}

.links li:nth-child(2) .button{
    background-color: #fff;
    color: #282828;
    border: 1px solid #fff;
    margin-left: 15px;
}

.links li:nth-child(2) .button:hover{
    background-color: transparent;
    border: 1px solid #fff;
    color: #fff;
}

.links li:last-child p{
    font-size: 14px;
    color: rgba(255, 255, 255, 0.5);
}

.links li:last-child img{
    margin-top: 8px;
}


/*//////////////////////////////////////////////////*/
/*----------------------BG2-------------------------*/
/*\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\*/

.bg2{
    background: url("../images/bg_2.jpg") center fixed no-repeat;
    padding: 55px 0 60px 0;
}

h2{
    /*font-family: "GothamProBlack", sans-serif;*/
    font-size: 30px;
    color: #0c1723;
    text-transform: uppercase;
    text-align: center;
    max-width: 46%;
    margin: 0 auto 22px auto;
}

.line{
    width: 150px;
    height: 5px;
    background-color: #6eb938;
    margin: 0 auto;
}

.content2 > p{
    font-size: 16px;
    color: #0c1723;
    line-height: 22px;
    margin: 35px 0;
}

.service{
    display: inline-block;
    vertical-align: top;
    width: 23.07692307692308%;
    margin-right: 2.564102564102564%;
    /*border: 1px solid red;*/
}

.service:last-of-type{
    margin-right: 0;
}

h5{
    font-size: 18px;
    margin: 25px 0 15px 0;
}

h5 a{
    color: #30ad54;
    text-decoration: none;
    -webkit-transition: all .2s ease-out;
    -moz-transition: all .2s ease-out;
    -o-transition: all .2s ease-out;
    transition: all .2s ease-out;
}

h5 a:hover{
    text-decoration: underline;
}

.service p{
    font-size: 14px;
    color: #0c1723;
    line-height: 17px;
}

.service .button{
    font-size: 12px;
    color: #8dc125;
    text-decoration: none;
    text-align: center;
    width: 150px;
    margin-top: 18px;
    border: 1px solid #50b447;
    -webkit-transition: all .2s ease-out;
    -moz-transition: all .2s ease-out;
    -o-transition: all .2s ease-out;
    transition: all .2s ease-out;
}

.service .button:hover{
    background-color: #50b447;
    color: #fff;
}

/*//////////////////////////////////////////////////*/
/*----------------------BG3-------------------------*/
/*\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\*/

.bg3{
    background: url("../images/bg3.jpg") center no-repeat;
    padding: 52px 0 72px 0;
}

.content3 h2{
    width: 40%;
    color: #fff;
}

.iframe{
    width: 59.82905982905983%;
    height: 400px;
    margin: 40px  auto 20px auto;
}

iframe{
    width: 100%;
    height: 100%;
}

.content3 p{
    font-size: 14px;
    text-align: center;
}



/*//////////////////////////////////////////////////*/
/*----------------------BG4-------------------------*/
/*\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\*/

.bg4{
    background: url("../images/bg4.jpg") center no-repeat;
    padding: 55px 0 60px 0;
}

.advantages{
    margin: 40px 0 50px 0;
}

.advantage{
    display: inline-block;
    vertical-align: top;
    text-align: center;
    width: 18.8034188034188%;
    height: auto;
    /*border: 1px solid green;*/
}

.advantage{
    margin-right: 1.495726495726496%;
}

.advantage:last-of-type{
    margin-right: 0;
}

.img_block{
    position: relative;
    width: 100%;
    height: 90px;
}

.img_block img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.advantage p{
    font-family: "GothamProRegular", sans-serif;
    font-size: 16px;
    color: #0c1723;
    line-height: 24px;
    margin-top: 5px;
}

h4{
    font-size: 20px;
    color: #0c1723;
    text-align: center;
    text-transform: uppercase;
}

.content4 .button{
    font-size: 12px;
    color: #8dc125;
    text-decoration: none;
    text-align: center;
    width: 150px;
    margin: 25px auto 0 auto;
    border: 1px solid #50b447;
    -webkit-transition: all .2s ease-out;
    -moz-transition: all .2s ease-out;
    -o-transition: all .2s ease-out;
    transition: all .2s ease-out;
}

.content4 .button:hover{
    background-color: #50b447;
    color: #fff;
}


/*//////////////////////////////////////////////////*/
/*----------------------BG5-------------------------*/
/*\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\*/

.bg5{
    position: relative;
}

.sl_slide{
    /*position: relative;*/
    /*width: 100%;*/
    height: 800px;
}

.sl_slide img{
    height: 100%;
}

.content5{
    position: absolute;
    top: 150px;
    right: 0;
    left: 0;
}

.form{
    /*background-color: #30ad54;*/
    background: rgba(48,173,84,1);
    background: -moz-linear-gradient(-45deg, rgba(48,173,84,1) 0%, rgba(48,173,84,1) 50%, rgba(148,222,73,1) 100%);
    /*background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(48,173,84,1)), color-stop(50%, rgba(48,173,84,1)), color-stop(100%, rgba(148,222,73,1)));*/
    background: -webkit-linear-gradient(-45deg, rgba(48,173,84,1) 0%, rgba(48,173,84,1) 50%, rgba(148,222,73,1) 100%);
    background: -o-linear-gradient(-45deg, rgba(48,173,84,1) 0%, rgba(48,173,84,1) 50%, rgba(148,222,73,1) 100%);
    background: -ms-linear-gradient(-45deg, rgba(48,173,84,1) 0%, rgba(48,173,84,1) 50%, rgba(148,222,73,1) 100%);
    background: linear-gradient(135deg, rgba(48,173,84,1) 0%, rgba(48,173,84,1) 50%, rgba(148,222,73,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#30ad54', endColorstr='#94de49', GradientType=1 );
    float: right;
    /*width: 100%;*/
    width: 34.18803418803419%;
    height: auto;
    margin: 0;
    padding: 0 24px 0 30px;
    text-align: left;
    /*border: 1px solid red;*/
}

.form h2{
    max-width: 100%;
    margin-top: 25px;
    text-align: left;
    color: #fff;
}

.form .line{
    background-color: #fff;
    margin: 0;
}

.form p{
    font-family: "GothamProBold", sans-serif;
    font-size: 16px;
    color: #fff;
}

.form > p:first-of-type{
    margin: 30px 0 15px 0;
}

.form > p:last-of-type{
    text-transform: uppercase;
}

.form > p:last-of-type img{
    vertical-align: bottom;
    margin: 0 0 -10px 2px;
}

.form form{
    font-family: "GothamProMedium", sans-serif;
    font-size: 12px;
    color: #0c1723;
    margin: 14px 0 10px 0;
}

.form form label{
    display: block;
    width: 100%;
}

.form form input{
    width: 100%;
    height: 35px;
    margin-bottom: 10px;
    padding: 0 0 0 10px;
    border: 1px solid #d3d3d3;
}

.form form textarea{
    width: 100%;
    height: 100px;
    padding: 10px 0 0 10px;
}

.form form input[type="submit"]{
    font-family: "GothamProBold", sans-serif;
    font-size: 12px;
    color: #fff;
    text-transform: uppercase;
    background-color: transparent;
    width: 200px;
    margin-top: 20px;
    padding: 0;
    border: 1px solid #fff;
    border-radius: 50px;
    cursor: pointer;
    -webkit-transition: all .2s ease-out;
    -moz-transition: all .2s ease-out;
    -o-transition: all .2s ease-out;
    transition: all .2s ease-out;
}

.form form input[type="submit"]:hover{
    background-color: #fff;
    color: #50b447;
}

/*//////////////////////////////////////////////////*/
/*-------------------FOOTER-------------------------*/
/*\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\*/

footer{
    background-color: #0c1723;
    padding-bottom: 40px;
}

.f_block{
    float: left;
    margin-top: 110px;
    /*border: 1px solid green;*/
}


.about{
    width: 23.07692307692308%;
    margin: 30px 2.564102564102564% 0 0;
}

.about p:first-of-type{
    font-size: 13px;
    color: rgba(255, 255, 255, 0.5);
    margin: 20px 0 25px 0;
}

.about p:last-of-type{
    font-size: 12px;
    color: rgba(255, 255, 255, 0.2);
}

.f_links{
    font-family: "GothamProLight", sans-serif;
    font-size: 12px;
    list-style: none;
}

.f_links li{
    margin-bottom: 14px;
}

.f_links a{
    color: #fff;
    text-decoration: none;
    -webkit-transition: all .2s ease-out;
    -moz-transition: all .2s ease-out;
    -o-transition: all .2s ease-out;
    transition: all .2s ease-out;
}

.f_links a:hover{
    color: #50b447;
}

.f_links li:first-child{
    margin-bottom: 20px;
}


.title,
.f_links li:first-child a{
    font-family: "GothamProBold", sans-serif;
    font-size: 14px;
    color: #fff;
}

.about_us{
    width: 11.11111111111111%;
    margin-right: 5.982905982905983%;
}

.cinema{
    width: 10.68376068376068%;
    margin-right: 6.41025641025641%;
}

.contacts{
    width: 14.52991452991453%;
    margin-right: 2.564102564102564%;
}

.title{
    margin-bottom: 20px;
}

.address p:first-of-type,
.contacts p:first-of-type{
    font-size: 14px;
    color: #fff;
    margin-bottom: 25px;
}

.contacts p:last-of-type{
    font-size: 14px;
    color: #36b053;
    text-decoration: underline;
}

.address{
    width: 23.07692307692308%;
}

.address .title:last-of-type{
    margin-bottom: 14px;
}

.share li{
    display: inline-block;
    background: url("../images/social_icon.png") no-repeat;
    margin-right: 10px;
}

.social{
    display: block;
    cursor: pointer;
    width: 25px;
    height: 25px;
}

.share .google{
    background-position: -35px 0;
}

.share .twitter{
    background-position: -70px 0;
}

.share .vk{
    background-position: -105px 0;
}

.share .youtube{
    background-position: -140px 0;
}



/*/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
---------------------------------------------------RESPONSIVE----------------------------------------------------------
\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\*/

/*------------------HAMBURGER-----------------------*/

@media screen and (max-width: 1190px) {

    .bg1{
        background-size: cover;
    }

    .b-a, .bar, .bar:before, .bar:after {
        transition: all .25s;
        content: "";
        position: absolute;
        right: 0;
        height: 4px;
        width: 32px;
        border-radius: 10px;
        background-color: #30ad54;
    }

    .menu-collapsed {
        transition: all .25s;
        position: fixed;
        top: 10px;
        right: 20px;
        height: 36px;
        width: 36px;
        margin: 0;
        z-index: 1;
        cursor: pointer;
    }

    .menu-collapsed ul {
        transition: all 0s;
        position: fixed;
        left: -9000px;
    }

    .menu-collapsed .menu li {
        display: block;
    }

    .menu-collapsed .menu a {
        font-family: "GothamProMedium", sans-serif;
        font-size: 15px;
        color: #fff;
    }

    .menu-collapsed .menu a:hover {
        background: none;
    }

    .bar {
        position: fixed;
        right: 20px;
        top: 50px;
    }

    .bar:before {
        top: -8px;
    }

    .bar:after {
        top: 8px;
    }

    .b-a-expanded, .menu-expanded .bar:before, .menu-expanded .bar:after {
        transition: all .25s;
        top: -0px;
    }

    .menu-expanded {
        transition: all .25s;
        text-align: center;
        line-height: 35px;
        height: 100%;
        width: 100%;
        border-radius: 0;
        top: 0;
        right: 0;
        background-color: rgba(0, 0, 0, 0.9);
    }

    .menu-expanded ul {
        transition: all 0s;
        position: relative;
        top: 70px;
        left: 0;
        z-index: 2;
    }

    .menu-expanded a {
        transition: all .15s;
    }

    .menu-expanded a:hover {
        transition: all .15s;
        letter-spacing: 2px;
        border: 1px solid rgba(255, 255, 255, 0.15);
    }

    .menu-expanded .bar {
        background-color: transparent;
        transition: all .25s;
    }

    .menu-expanded .bar:before {
        transform: rotate(45deg);
    }

    .menu-expanded .bar:after {
        transform: rotate(-45deg);
    }

    .p_number,
    .language{
        display: inline-block;
        vertical-align: top;
    }

    .h_block{
    margin: 25px 70px 0 0;
    }

    .p_number{
        margin: 0  20px 0 0;
    }

    .language{
    margin-top: 1px;
    }

}

@media screen and (max-width: 800px) {

    .participants li:last-child{
        display: none;
    }

}

@media screen and (max-width: 768px) {
    h1{
        font-size: 30px;
    }

    .main_page .participants{
        max-width: 660px;
    }

    .participants li:nth-child(5),
    .participants li:nth-child(11){
    display: none;
    }
}

@media screen and (max-width: 670px) {

    h1{
        margin-top: 10px;
    }

    .participants li:nth-child(15){
        display: none;
    }

    .h_block{
        margin: 25px 40px 0 0;
    }
}

@media screen and (max-width: 545px) {
    .p_number{
        display: none;
    }
}

@media screen and (max-width: 480px) {

    .grid{
        padding: 0 10px;
    }

    .logo img{
        width: 90px;
        height: 70px;
    }

    h1{
        font-size: 28px;
    }

}

@media screen and (max-width: 420px) {
    .participants li:nth-child(3),
    .participants li:nth-child(4),
    .participants li:nth-child(10),
    .participants li:nth-child(9),
    .participants li:nth-child(8),
    .participants li:nth-child(7),
    .participants li:nth-child(14){
        display: none;
    }

    .participants li:nth-child(6){
        display: block;
        margin-right: auto;
        margin-left: auto;
    }

    .participants li.bottom{
        top: -28px;
        /*right: -5px;*/
    }
}

@media screen and (max-width: 415px) {

    .links li{
    display: block;
        text-align: center;
    }

    .links li .button{
        display: inline-block;
    }

    .links li:first-child .button{
    margin-right: 0;
    }

    .links li:nth-child(2) .button{
        margin: 15px 0 0 0;
    }

    .links li:last-child{
        margin-top: 20px;
    }

}



/*----------------------BG2-------------------------*/


@media screen and (max-width: 900px) {

    .service:last-of-type{
        display: none;
    }

    .service{
        width: 32%;
        margin-right: 2%;
        /*border: 1px solid red;*/
    }

    .services > div:nth-child(3){
        margin-right: 0;
    }
}

@media screen and (max-width: 900px) {
    .service{
        width: 49%;
        margin-right: 2%;
        /*border: 1px solid red;*/
    }

    .services > div:nth-child(2){
        margin-right: 0;
    }

    .services > div:nth-child(3){
        display: none;
    }
}

@media screen and (max-width: 730px) {
    h2{
    max-width: 100%;
    margin: 0 auto 22px auto;
    }
}

@media screen and (max-width: 480px) {
    .bg2{
    padding: 15px 0 20px 0;
    }

    .grid{
        padding: 0 10px;
    }

    h2{
        font-size: 22px;
    }

    .service{
        width: 100%;
        margin: 0;
    }

    .services > div:nth-child(2){
        margin-top: 25px;
    }
}


/*-----------------------BG3-----------------------*/

@media screen and (max-width: 1040px) {
    .bg3{
        background-size: cover;
    }

    .content3 h2{
        width: 100%;
    }

    .iframe{
    width: 100%;
    }
}

@media screen and (max-width: 570px) {
    .bg3{
    padding: 30px 0;
    }

    .content2 h2{
        font-size: 22px;
    }

    .iframe{
    height: 250px;
    margin: 20px auto;
    }
}

@media screen and (max-width: 360px) {

    .iframe{
        height: 210px;
    }
}



/*----------------------BG4-------------------------*/


@media screen and (max-width: 960px) {
    .bg4{
        background-size: cover;
    }

    .advantages{
        text-align: center;
    }

    .advantage{
        width: 32%;
        margin-right: 2%;
    }

    .advantages > div:nth-child(3){
        margin-right: 0;
    }

    .advantages > div:nth-child(4),
    .advantages > div:last-child{
        margin-top: 20px;
    }
}

@media screen and (max-width: 960px) {
    .grid{
        padding: 0 10px;
    }

    .bg4{
    padding: 25px 0 20px 0;
    }

    .content4 h2{
        font-size: 22px;
    }

    .advantages{
    margin: 20px 0 30px 0;
    }
}

@media screen and (max-width: 650px) {
    .advantage{
        width: 49%;
        margin-right: 2%;
    }

    .advantages div:nth-child(even){
        margin-right: 0;
    }

    .advantages > div:nth-child(3){
        margin-top: 20px;
        margin-right: 2%;
    }
}

@media screen and (max-width: 370px) {
    .advantage{
        width: 100%;
        margin: 10px 0 0 0;
    }

    .advantages > div:nth-child(n+1){
        margin-top: 10px;
    }
}



/*-----------------------BG5-----------------------*/

@media screen and (max-width: 1040px) {
    .content5{
    position: absolute;
    top: 150px;
    right: 0;
    left: 0;
        text-align: center;
    }

    .form{
    float: none;
    display: inline-block;
        width: 50%;
    }
}

@media screen and (max-width: 830px) {

    .content5{

    top: 50px;

    }

    .sl_slide{

    height: 600px;
    }

    .form{
        width: 100%;
    }

    .form h2{
        font-size: 22px;
    }
}

@media screen and (max-width: 480px) {
    .slider{
        display: none;
    }

    .bg5 .grid{
        padding: 0;
    }

    .content5{
    position: static;
    }

    .form{
        padding-left: 20px;
    }
}

/*-------------------FOOTER-------------------------*/

@media screen and (max-width: 1000px) {
    .about_us,
    .cinema{
        display: none;
    }

    .f_block{
        width: 30%;
    }
}

@media screen and (max-width: 620px) {
    footer{
        padding-bottom: 20px;
    }

    .grid{
        padding: 0 10px;
    }

    .about{
    width: 100%;
    margin: 15px 0 0 0;
    }

    .contacts,
    .address{
        width: 48%;
        margin-top: 20px;
    }

    .contacts{
        margin-right: 4%;
    }
}

@media screen and (max-width: 390px) {
    .contacts,
    .address{
        width: 100%;
    }

    .contacts{
        margin-right: 0;
    }
}




/*/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
------------------------------------------------ACTORS_AND_ACTRESSES---------------------------------------------------
\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\*/

.a_bg1{
    background: url("../images/a_bg1.jpg") center no-repeat;
    background-size: cover;
    padding: 10px 0 30px 0;
}


.a_content1{
    position: relative;
}


h3{
   font-size: 20px;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    margin-top: 40px;
}

.favourite{
    position: absolute;
    right: 15px;
    top: 130px;
}

.favourite span{
    display: inline-block;
    font-family: "HelveticaThin", sans-serif;
    font-size: 14px;
    color: #fff;
    border-bottom: 1px dotted #fff;
    margin-left: 10px;
}

.favourite img{
    vertical-align: bottom;
}

.count{
    position: absolute;
    top: -3px;
    left: 11px;
    font-family: "GothamProBold", sans-serif;
    font-size: 10px;
    color: #fff;
    width: 16px;
    height: 16px;
    padding: 2px  0 0 2px;
    border-radius: 50%;
    background-color: #4bb449;
}




/*//////////////////////////////////////////////////*/
/*----------------------A_BG2-------------------------*/
/*\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\*/

.a_bg2{
    background-color: #e6e7e9;
    padding: 40px 0;
}

.filter form{
    font-family: "GothamProBlack", sans-serif;
    font-size: 0;
    color: #0c1723;
}

.switch-field{
    width: 17.09401709401709%;
}

.switch-field,
.field{
    display: inline-block;
    vertical-align: top;
    font-size: 12px;
    margin-right: 1.709401709401709%;
}

.switch-title{
    font-family: "GothamProRegular", sans-serif;
    font-size: 14px;
    color: #0c1723;
    padding-bottom: 8px;
}

.switch-field input {
    display: none;
}

.switch-field label {
    float: left;
}

.switch-field label {
    display: inline-block;
    width: 49.5%;
    background-color: #fff;
    line-height: 27px;
    text-align: center;
    height: 30px;
    border: 1px solid #e6e7e9;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition:    all 0.1s ease-in-out;
    -o-transition:      all 0.1s ease-in-out;
    transition:         all 0.1s ease-in-out;
}

.switch-field label:hover {
    cursor: pointer;
}

.switch-field input:checked + label {
    background-color: #6fcf3d;
    color: #fff;
}

.switch-field label:first-of-type {
    margin-right: 1%;
}

.field label{
    display: inline-block;
    font-family: "GothamProRegular", sans-serif;
    font-size: 14px;
    color: #0c1723;
    width: 100%;
    height: auto;
}

.field label input,
.field label select{
    height: 30px;
    margin-top: 8px;
    padding-left: 10px;
    border: 1px solid #e6e7e9;
}

.field label select{
    background: #fff url("../images/polygon.png") 90% center no-repeat;
    padding-right: 18%;
    width: 100%;

}

.f_form > div:nth-child(2){
    width: 11.96581196581197%;
}

.f_form .age{
    width: 8.974358974358974%;
    font-size: 0;
}

.f_form .age label{
    width: 49%;
    font-size: 12px;
}

.f_form .age input{
    width: 100%;
    height: 30px;
    margin-top: 0;
    padding-left: 0;
    border: 1px solid #e6e7e9;
    text-align: center;
    outline: 0;
}

.f_form .age input:hover,
.f_form .age input:focus{
    border: 1px solid #30ad52;
}

.f_form .age label:first-of-type{
    margin-right: 2%;
}

.f_form > div:nth-child(4),
.f_form > div:nth-child(5){
    width: 10.25641025641026%;
}

.f_form > input[type="button"],
a{
    font-family: "GothamProBlack", sans-serif;
}


.f_form input[type="button"]{
    font-family: "GothamProBlack", sans-serif;
    font-size: 14px;
    color: #fff;
    text-transform: uppercase;
    width: 175px;
    height: 35px;
    margin: 20px 1.709401709401709% 0 0;
    border-radius: 25px;
    border: 0;
    background-color: #6fcf3d;
}

.f_form a{
    font-size: 12px;
    color: #6fcf3d;
}


input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

select{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.expanded_filter{
    display: none;
}

.expanded_filter > div:nth-child(6),
.expanded_filter > div:nth-child(8){
    width: 10.25641025641026%;
}

.expanded_filter > div:nth-child(8){
    margin-right: 0;
}

.expanded_filter > div:nth-child(9){
    display: inline-block;
    vertical-align: top;
    width: 31.62393162393162%;
    font-size: 0;
    /*margin: 5px 0 25px 0;*/
}

input[type=checkbox] {
    display: none;
}

.checkbox label{
    font-family: "GothamProBlack", sans-serif;
    font-size: 12px;
    display: inline-block;
    vertical-align: top;
    position: relative;
    width: 33.3%;
    margin: 0 0 10px 0;
    padding: 0 0 0 28px;
    /*color: #000;*/
    cursor: pointer;
}

.checkbox  label:before {
    content: "";
    display: inline-block;
    width: 18px;
    height: 18px;
    position: absolute;
    left: 0;
    /*bottom: -2px;*/
    top: -2px;
    background-color: #fff;
    border: 1px solid #dcdcdc;
    box-sizing: border-box;
}


input[type=checkbox]:checked + label:before {
    content: "\2713";
    font-size: 15px;
    color: #30ad52;
    border: 1px solid #30ad52;
    text-align: center;
    line-height: 15px;
}

.expanded_filter > div:nth-child(10),
.expanded_filter > div:nth-child(11){
    width: 8.547008547008547%;
}

.expanded_filter > div:nth-child(10) label,
.expanded_filter > div:nth-child(11) label,
.expanded_filter > div:nth-child(12) label{
    width: 100%;
}

.expanded_filter > div:nth-child(12){
    width: 16.23931623931624%;
}

.expanded_filter > div:nth-child(11),
.expanded_filter > div:nth-child(12){
    padding-top: 23px;
}

.expanded_filter > div:nth-child(9),
.expanded_filter > div:nth-child(10),
.expanded_filter > div:nth-child(11),
.expanded_filter > div:nth-child(13){
    margin-right: 0;
}

.expanded_filter > div:nth-child(9),
.expanded_filter > div:nth-child(10),
.expanded_filter > div:nth-child(11),
.expanded_filter > div:nth-child(12),
.expanded_filter > div:nth-child(13){
    margin-top: 20px;
}

.expanded_filter > div:nth-child(13){
    width: 32.47863247863248%;
    padding-left: 6px;
}

.expanded_filter textarea{
    width: 100%;
    height: 87px;
}

.a_links{
    position: relative;
    height: 40px;
    margin-top: 20px;
}

.a_links a:first-of-type {
    display: inline-block;
    position: absolute;
    left: 0;
    top: 12px;
}

.a_links a:last-of-type{
    display: inline-block;
    position: absolute;
    right: 0;
    top: 12px;
}

.a_links input[type="button"]{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
}

.player{
    display: inline-block;
    vertical-align: top;
    position: relative;
    width: 33.3%;
    /*border: 1px solid red;*/
}

.p_hover{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 89.58333333333333%;
    height: 345px;
    border: 3px solid #30ad52;
    opacity: 0;
    z-index: 1001;
}

.id{
    font-family: "GothamProBlack", sans-serif;
    font-size: 14px;
    color: #fff;
}

.p_hover p{
    font-family: "GothamProMedium", sans-serif;
    font-size: 14px;
    color: #fff;
}

.player img {
    /*-webkit-filter: grayscale(100%); /!* Safari 6.0 - 9.0 *!/*/
    filter: grayscale(100%);
}

.player:hover > img{
    filter: grayscale(0);
}

.player:hover .p_hover{
    opacity: 1;
}













/*//////////////////////////////////////////////////*/
/*----------------------BG1-------------------------*/
/*\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\*/