{% extends 'base.html' %}

{% load staticfiles %}

{% load widget_tweaks %}

{% block content %}


    <div class="popup" data-popup="popup-1" id="popup-actor">

    </div>

    <div class="b_bg1">
        <div class="b_content1 grid">
             {% include 'main/header.html' %}

            <h3>База актеров</h3>
{##}
{#            <div class="favourite">#}
{#                <div class="count">15</div>#}
{#                <img src="{% static 'images/favourite_icon.png' %}" alt="icon">#}
{#                <span>Избранное</span>#}
{#            </div>#}
        </div>
    </div>

    <div class="a_bg2">
        <div class="filter grid">
            <form method="post" action="{% url 'filter' %}" class="f_form filter_f">{% csrf_token %}
                {#                <div class="switch-field">#}
                {#                    <div class="switch-title">Пол</div>#}
                {#                    <input type="radio" id="switch_left" name="switch_2" value="yes" checked/>#}
                {#                    <label for="switch_left">Мужчина</label>#}
                {#                    <input type="radio" id="switch_right" name="switch_2" value="no"/>#}
                {#                    <label for="switch_right">Женщина</label>#}
                {#                </div>#}

                <div class="field">
                    <label for="select1">Пол<br>

                        {% render_field form.sex %}

                    </label>
                </div>

                <div class="field age">
                    <div class="switch-title">Возраст</div>
                    <label for="number1">
                        {% render_field form.minAge %}
                    </label>

                    <label for="number2">
                        {% render_field form.maxAge %}
                    </label>
                </div>

                <div class="field">
                    <label for="select2">Город<br>
                        {% render_field form.town %}
                    </label>
                </div>

                <div class="field">
                    <label for="select3">Знание языков<br>
                        {% render_field form.language %}
                    </label>
                </div>

                <input type="submit" name="button" value="Найти актера" class="submit">
                <a href="#" class="close link">Расширенный поиск</a>
            </form>


            <form method="post" action="#" class="expanded_filter f_form">
                <div class="switch-field">
                    <div class="switch-title">Пол</div>
                    <input type="radio" id="switch_to_left" name="switch_2" value="yes" checked/>
                    <label for="switch_to_left">Мужчины</label>
                    <input type="radio" id="switch_to_right" name="switch_2" value="no"/>
                    <label for="switch_to_right">Женщины</label>
                </div>

                <div class="field">
                    <label for="e_select1">Категории<br>
                        <select name="select-name" id="e_select1">
                            <option value="1">12:00</option>
                            <option value="2">13:00</option>
                            <option value="2">14:00</option>
                            <option value="2">15:00</option>
                        </select>
                    </label>
                </div>

                <div class="field age">
                    <div class="switch-title">Возраст</div>
                    <label for="e_number1">
                        <input type="number" name="age" id="e_number1" placeholder="от">
                    </label>

                    <label for="e_number2">
                        <input type="number" name="age" id="e_number2" placeholder="до">
                    </label>
                </div>

                <div class="field">
                    <label for="e_select2">Город<br>
                        <select name="select-name" id="e_select2">
                            <option value="1">Бишкек</option>
                            <option value="2">Ош</option>
                            <option value="2">Каракол</option>
                            <option value="2">Чолпон-Ата</option>
                        </select>
                    </label>
                </div>

                <div class="field">
                    <label for="e_select3">Типаж<br>
                        <select name="select-name" id="e_select3">
                            <option value="1" selected disabled>Выбрать</option>
                            <option value="2">Ош</option>
                            <option value="2">Каракол</option>
                            <option value="2">Чолпон-Ата</option>
                        </select>
                    </label>
                </div>

                <div class="field">
                    <label for="e_select4">Цвет волос<br>
                        <select name="select-name" id="e_select4">
                            <option value="1">Брюнет</option>
                            <option value="2">Блондин</option>
                            <option value="2">Шатен</option>
                        </select>
                    </label>
                </div>

                <div class="field age">
                    <div class="switch-title">Рост (см)</div>
                    <label for="e_number3">
                        <input type="number" name="age" id="e_number3" placeholder="от">
                    </label>

                    <label for="e_number4">
                        <input type="number" name="age" id="e_number4" placeholder="до">
                    </label>
                </div>

                <div class="field">
                    <label for="e_select5">Телосложение<br>
                        <select name="select-name" id="e_select5">
                            <option value="1">Худое</option>
                            <option value="2">Большое</option>
                            <option value="2">Среднее</option>
                        </select>
                    </label>
                </div>

                <div class="field checkbox">
                    <div class="switch-title">Знание языков</div>
                    <input id="check1" type="checkbox" name="check" value="check1">
                    <label for="check1">Кыргызский </label>

                    <input id="check2" type="checkbox" name="check" value="check2">
                    <label for="check2">Французский </label>

                    <input id="check3" type="checkbox" name="check" value="check2">
                    <label for="check3">Корейский </label>

                    <input id="check4" type="checkbox" name="check" value="check2">
                    <label for="check4">Русский </label>

                    <input id="check5" type="checkbox" name="check" value="check2">
                    <label for="check5">Немецкий </label>

                    <input id="check6" type="checkbox" name="check" value="check2">
                    <label for="check6">Японский </label>

                    <input id="check7" type="checkbox" name="check" value="check2">
                    <label for="check7">Японский </label>

                    <input id="check8" type="checkbox" name="check" value="check2">
                    <label for="check8">Японский </label>

                    <input id="check9" type="checkbox" name="check" value="check2">
                    <label for="check9">Японский </label>

                    <input id="check10" type="checkbox" name="check" value="check2">
                    <label for="check10">Японский </label>

                    <input id="check11" type="checkbox" name="check" value="check2">
                    <label for="check11">Японский </label>

                    <input id="check12" type="checkbox" name="check" value="check2">
                    <label for="check12">Японский </label>

                </div>

                <div class="field checkbox">
                    <div class="switch-title">Навыки</div>
                    <input id="check13" type="checkbox" name="check" value="check1">
                    <label for="check13">Танец</label>

                    <input id="check14" type="checkbox" name="check" value="check2">
                    <label for="check14">Балет</label>

                    <input id="check15" type="checkbox" name="check" value="check2">
                    <label for="check15">Вокал</label>

                    <input id="check16" type="checkbox" name="check" value="check2">
                    <label for="check16">Борьба</label>
                </div>

                <div class="field checkbox">
                    <input id="check17" type="checkbox" name="check" value="check1">
                    <label for="check17">Плавание</label>

                    <input id="check18" type="checkbox" name="check" value="check2">
                    <label for="check18">Бокс</label>

                    <input id="check19" type="checkbox" name="check" value="check2">
                    <label for="check19">Дзюдо</label>

                    <input id="check20" type="checkbox" name="check" value="check2">
                    <label for="check20">Футбол</label>
                </div>

                <div class="field checkbox">
                    <input id="check21" type="checkbox" name="check" value="check1">
                    <label for="check21">Спортивная гимнастика</label>

                    <input id="check22" type="checkbox" name="check" value="check2">
                    <label for="check22">Владение музыкальными инструментами</label>

                    <input id="check23" type="checkbox" name="check" value="check2">
                    <label for="check23">Опыт съемок</label>

                    <!--<input id="check24" type="checkbox" name="check" value="check2">-->
                    <!--<label for="check24">Русский  </label>-->
                </div>

                <div class="field">
                    <label for="comments">Другие навыки/умения<br>
                        <textarea name="comments" id="comments" cols="20" rows="10"></textarea>
                    </label>
                </div>

                <div class="a_links">
                    <a href="#" class="link">Очистить фильтры</a>
                    <input type="submit" name="button" value="Найти актера" class="submit">
                    <a href="#" class="close link">Свернуть поиск</a>
                </div>

            </form>
        </div>
    </div>

    <div class="a_bg3">
        <div class="a_content2 grid">
            <div class="players">
                {% for actor in actors %}
                    {% if actor.actorsimage_set.all %}
                        <a href="{% url 'ajax_actor_get' id=actor.id %}" class="actors-trigger">
                            <div class="player" data-popup-open="popup-1">
                                <div class="p_hover">
                                    <div class="player_desc">
                                        <div class="id">{{ actor.identify }}</div>
                                        <p>Рост: {{ actor.height }} см Возраст: {{ actor.age }} лет</p>
                                    </div>
                                </div>

                                <img src="/media/{{ MEDIA_URL }}{{ actor.index_image }}" alt="favourite">


                            </div>
                        </a>
                    {% endif %}
                {% endfor %}
            </div>
        </div>


        <ul class="pagination">
            <li><a href="#">пред</a></li>
            <li><a href="#" class="active">1</a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">...</a></li>
            <li><a href="#">55</a></li>
            <li><a href="#">след</a></li>
        </ul>
    </div>

    {% block scripts %}

        <script>
            $(document).ready(function () {
                $('.popup_scroll').perfectScrollbar();
                $('.ps-scrollbar-y-rail').css('opacity', 1)
            });
        </script>

        <script>
            $(function () {
                //----- OPEN
                $('[data-popup-open]').on('click', function (e) {
                    var targeted_popup_class = jQuery(this).attr('data-popup-open');
                    $('[data-popup="' + targeted_popup_class + '"]').fadeIn(350);

                    e.preventDefault();
                });

                //----- CLOSE
                $('[data-popup-close]').on('click', function (e) {

                    e.preventDefault();
                    var targeted_popup_class = jQuery(this).attr('data-popup-close');
                    $('[data-popup="' + targeted_popup_class + '"]').fadeOut(350);
                });
            });

            $('.actors-trigger').each(function (i, obj) {
                $(obj).on('click', function (event) {
                    event.preventDefault();
                    var that = this;
                    $.ajax({
                        method: 'POST',
                        dataType: 'HTML',
                        url: $(that).attr('href'),
                        success: function (response) {
                            $('#popup-actor').html(response);
                            $('.p_slider').slick({
                                cssEase: 'ease-in',
                                autoplay: true,
                                autoplaySpeed: 2000,
                                //variableWidth: true,
                                arrows: true,
                                asNavFor: '.pn_slider'
                            });

                            $('.pn_slider').slick({
                                slidesToShow: 5,
                                variableWidth: false,
                                focusOnSelect: true,
                                asNavFor: '.p_slider',
                                draggable: false
                            });

                            $('[data-popup-close]').on('click', function (e) {

                                e.preventDefault();
                                var targeted_popup_class = jQuery(this).attr('data-popup-close');
                                $('[data-popup="' + targeted_popup_class + '"]').fadeOut(350);


                            });
                        },
                        error: function () {
                            console.error('Error to send requet!');
                        }
                    });
                })
            });
        </script>
    {% endblock %}


{% endblock %}