{% load staticfiles %}
<footer>
    <div class="content6 grid group">
        <div class="about f_block">
            <a href="{% url 'index' %}"><img src="{% static 'images/logo.png' %}" alt="logo"></a>

            <p>Организация и проведение кастингов, сбор статистов для массовых сцен, предоставленте сотрудников
                актерского департамента: директор по кастингу, ассистент по актерам.</p>

            <p>Использование любых данных с сайта только с разрешения правообладателей</p>
        </div>

        <div class="about_us f_block">
            <ul class="f_links">
                <li><a href="{% url 'about' %}">О нас</a></li>
                <li><a href="{% url 'about' %}">Об агенстве</a></li>
                <li><a href="{% url 'news' %}">Новости и кастинги</a></li>
                <li><a href="{% url 'about' %}">Контакты</a></li>
                <li><a href="{% url 'index' %}">Наши услуги</a></li>
                <li><a href="#">Примеры работ</a></li>
            </ul>
        </div>

        <div class="cinema f_block">
            <ul class="f_links">
                <li><a href="{% url 'actor' %}">Наша база</a></li>
                <li><a href="{% url 'actor' %}">Актеры</a></li>
                <li><a href="{% url 'moviemaker' %}">Кинематографисты</a></li>
                <li><a href="{% url 'studio' %}">Студии</a></li>
                <li><a href="{% url 'location' %}">Локации</a></li>
            </ul>
        </div>

        <div class="contacts f_block">
            <div class="title">Наши телефоны:</div>
            <p>+ 996 558 002 444</p>

            <div class="title">Электронная почта:</div>
            <p>thefacekg@gmail.com</p>
        </div>

        <div class="address f_block">
            <div class="title">Наш адрес:</div>
            <p>г. Бишкек, ул. Калык Акиева 66</p>

            <div class="title">Мы в социальных сетях</div>

            <ul class="share">
                <li class="facebook"><a class="social " href="#"></a></li>
                <li class="google"><a class="social " href="#"></a></li>
                <li class="twitter"><a class="social " href="#"></a></li>
                <li class="vk"><a class="social " href="#"></a></li>
                <li class="youtube"><a class="social " href="#"></a></li>
            </ul>

        </div>
    </div>
</footer>