{% extends 'base.html' %}

{% load staticfiles %}




{% block content %}

    <div class="popup" data-popup="popup-1" id="popup-location">


    </div>

    <div id="SmyModal" class="modal">

        <!-- Modal content -->
        <div class="modal-content l_modal">
            <h3>Зарегистрируй свою локацию и клиент сам найдет тебя!</h3>

            <form method="post" action="{% url 'location_application' %}" class="modal_form lm_form">

                <div class="field">
                    <label for="location">Название локации<br>
                        <input type="text" name="name_location" id="location">
                    </label>
                </div>

                <div class="field">
                    <label for="l_type">Тип локации<br>
                        <select name="location_type" id="l_type">
                            <option>Природа</option>
                            <option>Интерьер</option>

                        </select>
                    </label>
                </div>

                <div class="field">
                    <label for="l_location">Местонахождение<br>
                        <select name="location_state" id="l_location">
                            <option>Бишкек</option>
                            <option>Ош</option>
                            <option>Каракол</option>
                            <option>Чолпон-Ата</option>
                        </select>
                    </label>
                </div>

                {#                <div class="field">#}
                {#                    <label for="category">Описание<br>#}
                {#                        <input type="text" name="studio" id="location">#}
                {#                    </label>#}
                {#                </div>#}
                <p></p>


                <div class="field">
                    <label for="l_information">Информация о локации<br>
                        <textarea name="information" id="l_information" cols="20" rows="10"></textarea>
                    </label>
                </div>

                <div class="field">
                    <label for="image">Фото<br>
                        <input type="text" name="photo" id="image" placeholder="Название фото, комментарии">
                    </label>
                </div>


                <!--<div class="field">-->

                <!--<ul class="blocks">-->
                <!--<li class="item">-->
                <!--<label for="project">Проекты<br>-->
                <!--<input type="text" name="name" id="project" placeholder="Название проекта">-->
                <!--</label>-->
                <!--</li>-->
                <!--</ul>-->

                <!--<ul class="link_block">-->
                <!--<li class="link_item">-->
                <!--<label for="link">Ссылка на видео<br>-->
                <!--<input type="text" name="name" id="link" placeholder="Введите ссылку">-->
                <!--</label>-->
                <!--</li>-->
                <!--</ul>-->

                <!--<button class="add-block"><img src="assets/images/plus_icon.png" alt="image">Добавить еще один проект и-->
                <!--ссылку на видео-->
                <!--</button>-->
                <!--</div>-->

                <div class="file_container">

                    <div class="field add-img">
                        <button class="button_file" type="button">
                            + Добавить файл
                            <input type="file" id="input-file" multiple>
                        </button>
                        <p class="nadded">Формат: jpg, jpeg, png</p>
                        <p class="added"></p>


                    </div>

                </div>


                <div class="field">
                    <label for="l_name">Имя контактного лица<br>
                        <input type="text" name="contacts_name" id="l_name">
                    </label>
                </div>

                <div class="field">
                    <label for="l_surname">Фамилия контактного лица<br>
                        <input type="text" name="surname" id="l_surname">
                    </label>
                </div>

                <div class="field">
                    <label for="l_number">Телефон<br>
                        <input type="tel" name="phone_number" id="l_number">
                    </label>
                </div>

                <div class="field">
                    <label for="s_email">E-mail<br>
                        <input type="email" name="email" id="s_email">
                    </label>
                </div>

                <div class="button_block">
                    <button type="reset" name="reset">Очистить фильтры</button>
                    <input type="submit" name="button" value="Отправить" class="submit">
                </div>

            </form>
            <span class="modal_close"></span>
        </div>

    </div>

    <div class="b_bg1">
        <div class="b_content1 grid">
            {% include 'main/header.html' %}

            <h3>локации</h3>

        </div>
    </div>

    <div class="l_bg1">
        <div class="l_content1 grid">
            <form method="post" action="{% url 'result_location' %}" class="l_form">


                <div class="field">
                    <label for="l_search">
                        <input type="text" name="search" id="l_search"
                               placeholder="Введите слово для поиска, например: особняк">
                    </label>
                </div>

                <input type="submit" class="submit" value="Найти локации">
                <a href="#" class="link" id="SmyBtn">Добавить локацию</a>
            </form>

            <ul class="tabs-nav">
                <li><a href="#tab-1">Все локации</a></li>
                <li><a href="#tab-2">Природа</a></li>
                <li><a href="#tab-3">Интерьер</a></li>
            </ul>

            <div class="tabs-stage">

                <div class="locations" id="tab-1">

                    {% for item in locations %}

                        <a class="location" href="{% url 'ajax_locations_get' id=item.id %}" data-popup-open="popup-1">
                            <div class="l_hover">
                                <div class="d_block">
                                    <div class="l_desc">
                                        <h5>{{ item.name }}</h5>

                                        <p>{{ item.region }}</p>
                                        <img src="{% static 'images/fav_icon.png' %}" alt="icon">
                                    </div>
                                </div>
                            </div>
                            <img src="/media/{{ MEDIA_URL }}{{ item.image }}" alt="location">
                        </a>


                    {% endfor %}
                    <ul class="pagination">
                        <li><a href="#">пред</a></li>
                        <li><a href="#" class="active">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">...</a></li>
                        <li><a href="#">55</a></li>
                        <li><a href="#">след</a></li>
                    </ul>
                </div>

                <div class="locations" id="tab-2">

                    {% for item in locations %}
                        {% if item.category == 'Priroda' %}
                            <a class="location" href="{% url 'ajax_locations_get' id=item.id %}"
                               data-popup-open="popup-1">
                                <div class="l_hover">
                                    <div class="d_block">
                                        <div class="l_desc">
                                            <h5>{{ item.name }}</h5>

                                            <p>{{ item.region }}</p>
                                            <img src="{% static 'images/fav_icon.png' %}" alt="icon">
                                        </div>
                                    </div>
                                </div>
                                <img src="/media/{{ MEDIA_URL }}{{ item.image }}" alt="location">
                            </a>
                        {% endif %}

                    {% endfor %}
                    <ul class="pagination">
                        <li><a href="#">пред</a></li>
                        <li><a href="#" class="active">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">...</a></li>
                        <li><a href="#">55</a></li>
                        <li><a href="#">след</a></li>
                    </ul>
                </div>


                <div class="locations" id="tab-3">

                    {% for item in locations %}
                        {% if item.category == 'Interyer' %}
                            <a class="location" href="{% url 'ajax_locations_get' id=item.id %}"
                               data-popup-open="popup-1">
                                <div class="l_hover">
                                    <div class="d_block">
                                        <div class="l_desc">
                                            <h5>{{ item.name }}</h5>

                                            <p>{{ item.region }}</p>
                                            <img src="{% static 'images/fav_icon.png' %}" alt="icon">
                                        </div>
                                    </div>
                                </div>
                                <img src="/media/{{ MEDIA_URL }}{{ item.image }}" alt="location">
                            </a>
                        {% endif %}

                    {% endfor %}
                    <ul class="pagination">
                        <li><a href="#">пред</a></li>
                        <li><a href="#" class="active">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">...</a></li>
                        <li><a href="#">55</a></li>
                        <li><a href="#">след</a></li>
                    </ul>
                </div>

            </div>
        </div>
    </div>



    {% block scripts %}
        <script>

        </script>

        <script>
            $(function () {
                //----- OPEN
                $('[data-popup-open]').on('click', function (e) {
                    var targeted_popup_class = jQuery(this).attr('data-popup-open');
                    $('[data-popup="' + targeted_popup_class + '"]').fadeIn(350);

                    e.preventDefault();
                });

                //----- CLOSE
                $('[data-popup-close]').on('click', function (e) {

                    e.preventDefault();
                    var targeted_popup_class = jQuery(this).attr('data-popup-close');
                    $('[data-popup="' + targeted_popup_class + '"]').fadeOut(350);


                });
            });

            $('.location').each(function (i, obj) {
                $(obj).on('click', function (event) {
                    event.preventDefault();
                    var that = this;
                    $.ajax({
                        method: 'POST',
                        dataType: 'HTML',
                        url: $(that).attr('href'),
                        success: function (response) {
                            $('#popup-location').html(response);


                            $('[data-popup-close]').on('click', function (e) {

                                e.preventDefault();
                                var targeted_popup_class = jQuery(this).attr('data-popup-close');
                                $('[data-popup="' + targeted_popup_class + '"]').fadeOut(350);


                            });

                            $('.s_select').SumoSelect();

                            $('.l_slider').slick({
                                cssEase: 'ease-in',
                                autoplay: true,
                                autoplaySpeed: 2000,
                                arrows: true
                            });

                        },
                        error: function () {
                            console.error('Error to send requet!');
                        }
                    });
                })
            });


        </script>

        <script>
            $(document).ready(function () {
                var clickFund = function () {
                    var fieldImg = $(this).parent(".add-img");
                    var added = $(fieldImg).find('.added');
                    var nadded = $(fieldImg).find('.nadded');

                    $(this).find("input[type=file]").change(function () {
                        var filename = $(this).val().replace(/.*\\/, "");

                        $(added).text(filename + " загружен");
                        $(this).parent().hide();
                        $(nadded).hide();
                        $(fieldImg).after(' "<div class="field add-img"> <button class="button_file" type="button"> Добавить другой файл <input type="file" id="input-file" multiple> </button> <p class="added"></p></div>"');

                        $('.add-img button').on('click', clickFund);
                    });
                    $('.add-img button').on('click', clickFund);
                };
                $('.add-img button').on('click', clickFund);

            });
        </script>

        <script>
            // Get the modal
            var Smodal = document.getElementById('SmyModal');

            // Get the button that opens the modal
            var Sbtn = document.getElementById("SmyBtn");

            // Get the <span> element that closes the modal
            var Sspan = document.getElementsByClassName("modal_close")[0];

            // When the user clicks the button, open the modal
            Sbtn.onclick = function () {
                Smodal.style.display = "block";
            };

            // When the user clicks on <span> (x), close the modal
            Sspan.onclick = function () {
                Smodal.style.display = "none";
            };

            // When the user clicks anywhere outside of the modal, close it
            window.onclick = function (event) {
                if (event.target == Smodal) {
                    Smodal.style.display = "none";
                }
            };
        </script>

        <script>
            $('.tabs-stage > div').hide();
            $('.tabs-stage > div:nth-child(1)').show();
            $('.tabs-nav > li:first-child a').addClass('tab-active');

            // Изменить класс вкладки и отобразить содержимое
            $('.tabs-nav > li > a').on('click', function (event) {
                event.preventDefault();
                $('.tabs-nav > li a').removeClass('tab-active');
                $(this).addClass('tab-active');
                $('.tabs-stage > div').hide(500);
                $($(this).attr('href')).show(500);
            });
        </script>
    {% endblock %}
{% endblock %}