{% extends 'base.html' %}

{% load staticfiles %}




{% block content %}

    <div class="popup" data-popup="popup-1">
        <div class="l_popup grid">
            <div class="popup-inner">
                <div class="sl_content">
                    <div class="l_slider">
                        <div class="p_slide">
                            <img src="{% static 'images/l_slide1.jpg' %}" alt="image">
                        </div>

                        <div class="p_slide">
                            <img src="assets/images/l_slide1.jpg" alt="image">
                        </div>

                        <div class="p_slide">
                            <img src="assets/images/l_slide1.jpg" alt="image">
                        </div>
                    </div>
                </div>

                <div class="p_container">
                    <ul class="p_block2">
                        <li><h3>Озеро иссык-куль</h3></li>
                        <li><a href="#"><img src="assets/images/color_fav_icon.png" alt="image">Добавить в избранное</a>
                        </li>
                        <li>Область:</li>
                        <li>Иссык-куль, Кыргызстан</li>
                        <li>Глубина:</li>
                        <li>702 м</li>
                        <li>Размеры:</li>
                        <li>182×58 км</li>
                        <li>Площадь:</li>
                        <li>6236 км²</li>
                        <li>Объем:</li>
                        <li>1738 км³</li>
                        <li>Длина береговой линии:</li>
                        <li>688 км</li>
                        <li>Температура зимой:</li>
                        <li> −3°</li>
                        <li>Температура летом:</li>
                        <li>+17°</li>
                        <li>Ближайщий административный центр:</li>
                        <li>Районный областной центр в г. Чолпон-Ата</li>
                        <li>Условия сьемок:</li>
                        <li>Лето, солнечная</li>
                    </ul>

                    <a class="popup-close" data-popup-close="popup-1"></a>
                </div>
            </div>
        </div>
    </div>

    <div id="SmyModal" class="modal">

        <!-- Modal content -->
        <div class="modal-content l_modal">
            <h3>Зарегистрируй свою локацию и клиент сам найдет тебя!</h3>

            <form method="post" action="{% url 'get_location' %}" class="modal_form lm_form">

                <div class="field">
                    <label for="location">Название локации<br>
                        <input type="text" name="studio" id="location">
                    </label>
                </div>

                <div class="field">
                    <label for="l_type">Тип локации<br>
                        <select name="select-name" id="l_type">
                            <option value="1">Бишкек</option>
                            <option value="2">Ош</option>
                            <option value="2">Каракол</option>
                            <option value="2">Чолпон-Ата</option>
                        </select>
                    </label>
                </div>

                <div class="field">
                    <label for="category">Подкатегория<br>
                        <select name="select-name" id="category">
                            <option value="1">Бишкек</option>
                            <option value="2">Ош</option>
                            <option value="2">Каракол</option>
                            <option value="2">Чолпон-Ата</option>
                        </select>
                    </label>
                </div>

                <div class="field">
                    <label for="l_location">Местонахождение<br>
                        <select name="select-name" id="l_location">
                            <option value="1">Бишкек</option>
                            <option value="2">Ош</option>
                            <option value="2">Каракол</option>
                            <option value="2">Чолпон-Ата</option>
                        </select>
                    </label>
                </div>

                <div class="field">
                    <label for="l_information">Информация о локации<br>
                        <textarea name="comments" id="l_information" cols="20" rows="10"></textarea>
                    </label>
                </div>

                <div class="field">
                    <label for="image">Фото<br>
                        <input type="text" name="studio" id="image" placeholder="Название фото, комментарии">
                    </label>
                </div>


                <!--<div class="field">-->

                <!--<ul class="blocks">-->
                <!--<li class="item">-->
                <!--<label for="project">Проекты<br>-->
                <!--<input type="text" name="name" id="project" placeholder="Название проекта">-->
                <!--</label>-->
                <!--</li>-->
                <!--</ul>-->

                <!--<ul class="link_block">-->
                <!--<li class="link_item">-->
                <!--<label for="link">Ссылка на видео<br>-->
                <!--<input type="text" name="name" id="link" placeholder="Введите ссылку">-->
                <!--</label>-->
                <!--</li>-->
                <!--</ul>-->

                <!--<button class="add-block"><img src="assets/images/plus_icon.png" alt="image">Добавить еще один проект и-->
                <!--ссылку на видео-->
                <!--</button>-->
                <!--</div>-->

                {#                <div class="file_container">#}
                {##}
                {#                    <div class="field add-img">#}
                {#                        <button class="button_file" type="button">#}
                {#                            + Добавить файл#}
                {#                            <input type="file" id="input-file" multiple>#}
                {#                        </button>#}
                {#                        <p class="nadded">Формат: jpg, jpeg, png</p>#}
                {#                        <p class="added"></p>#}
                {##}
                {##}
                {#                    </div>#}
                {##}
                {#                </div>#}


                <div class="field">
                    <label for="l_name">Имя контактного лица<br>
                        <input type="text" name="name" id="l_name">
                    </label>
                </div>

                <div class="field">
                    <label for="l_surname">Фамилия контактного лица<br>
                        <input type="text" name="name" id="l_surname">
                    </label>
                </div>

                <div class="field">
                    <label for="l_number">Телефон<br>
                        <input type="tel" name="name" id="l_number">
                    </label>
                </div>

                <div class="field">
                    <label for="s_email">E-mail<br>
                        <input type="email" name="name" id="s_email">
                    </label>
                </div>

                <div class="button_block">
                    {#                    <button type="reset" name="reset">Очистить фильтры</button>#}
                    <input type="submit" name="button" value="Отправить" class="submit">
                </div>

            </form>
            <span class="modal_close"></span>
        </div>

    </div>

    <div class="b_bg1">
        <div class="b_content1 grid">
            {% include 'main/header.html' %}

            <h3>локации</h3>

        </div>
    </div>

    <div class="l_bg1">
        <div class="l_content1 grid">
            <form method="post" action="#" class="l_form">
                <div class="s_field">
                    <label for="e_select4">Природа<br>
                        <select class="s_select" name="select-name" id="e_select4" multiple>
                            <option value="1" selected disabled>Выбрать</option>
                            <option value="2">Лес</option>
                            <option value="2">Горы</option>
                            <option value="2">Озера</option>
                            <option value="2">Реки</option>
                            <option value="2">Пустыни</option>
                            <option value="2">Джайлоо</option>
                        </select>
                    </label>
                </div>

                <div class="field">
                    <label for="e_select3">Интерьер<br>
                        <select name="select-name" id="e_select3">
                            <option value="1" selected disabled>Выбрать</option>
                            <option value="2">Ош</option>
                            <option value="2">Каракол</option>
                            <option value="2">Чолпон-Ата</option>
                        </select>
                    </label>
                </div>

                <input type="submit" name="button" value="Найти специалиста" class="submit">
                <a href="#" class="link" id="SmyBtn">Добавить локацию</a>
            </form>

            <div class="locations">
                {% for location in locations %}
                    <div class="location column1">
                        <div class="l_hover">
                            <div class="d_block">
                                <div class="l_desc">
                                    <h5>{{ location.name }}</h5>

                                    <p>{{ location.region }}</p>
                                    <img src="{% static 'images/fav_icon.png' %}" alt="icon">
                                </div>
                            </div>
                        </div>
                        <img src="/media/{{ MEDIA_URL }}{{ location.image }}" alt="location">
                    </div>
                {% endfor %}


                <ul class="pagination" style="text-align: center;">
                    {% if locations.has_previous %}

                        <li><a href="?page={{ locations.previous_page_number }}">пред</a></li>

                    {% endif %}

                    <li><a href="#" class="active">{{ locations.number }} из {{ locations.paginator.num_pages }}</a>
                    </li>

                    {% if locations.has_next %}

                        <li><a href="?page={{ locations.next_page_number }}">след</a></li>

                    {% endif %}
                </ul>
            </div>
        </div>
    </div>



    {% block scripts %}
        <script>
            $('.s_select').SumoSelect();

            $('.l_slider').slick({
                cssEase: 'ease-in',
                autoplay: true,
                autoplaySpeed: 2000,
                arrows: true
            });
        </script>

        <script>
            $(function () {
                //----- OPEN
                $('[data-popup-open]').on('click', function (e) {
                    var targeted_popup_class = jQuery(this).attr('data-popup-open');
                    $('[data-popup="' + targeted_popup_class + '"]').fadeIn(350);

                    e.preventDefault();
                });

                //----- CLOSE
                $('[data-popup-close]').on('click', function (e) {

                    e.preventDefault();
                    var targeted_popup_class = jQuery(this).attr('data-popup-close');
                    $('[data-popup="' + targeted_popup_class + '"]').fadeOut(350);


                });
            });
        </script>

        <script>
            $(document).ready(function () {
                var clickFund = function () {
                    var fieldImg = $(this).parent(".add-img");
                    var added = $(fieldImg).find('.added');
                    var nadded = $(fieldImg).find('.nadded');

                    $(this).find("input[type=file]").change(function () {
                        var filename = $(this).val().replace(/.*\\/, "");

                        $(added).text(filename + " загружен");
                        $(this).parent().hide();
                        $(nadded).hide();
                        $(fieldImg).after(' "<div class="field add-img"> <button class="button_file" type="button"> Добавить другой файл <input type="file" id="input-file" multiple> </button> <p class="added"></p></div>"');

                        $('.add-img button').on('click', clickFund);
                    });
                    $('.add-img button').on('click', clickFund);
                };
                $('.add-img button').on('click', clickFund);

            });
        </script>

        <script>
            // Get the modal
            var Smodal = document.getElementById('SmyModal');

            // Get the button that opens the modal
            var Sbtn = document.getElementById("SmyBtn");

            // Get the <span> element that closes the modal
            var Sspan = document.getElementsByClassName("modal_close")[0];

            // When the user clicks the button, open the modal
            Sbtn.onclick = function () {
                Smodal.style.display = "block";
            };

            // When the user clicks on <span> (x), close the modal
            Sspan.onclick = function () {
                Smodal.style.display = "none";
            };

            // When the user clicks anywhere outside of the modal, close it
            window.onclick = function (event) {
                if (event.target == Smodal) {
                    Smodal.style.display = "none";
                }
            };
        </script>

        <script>
            $('.tabs-stage > div').hide();
            $('.tabs-stage > div:nth-child(1)').show();
            $('.tabs-nav > li:first-child a').addClass('tab-active');

            // Изменить класс вкладки и отобразить содержимое
            $('.tabs-nav > li > a').on('click', function (event) {
                event.preventDefault();
                $('.tabs-nav > li a').removeClass('tab-active');
                $(this).addClass('tab-active');
                $('.tabs-stage > div').hide(500);
                $($(this).attr('href')).show(500);
            });
        </script>
    {% endblock %}
{% endblock %}