<p><strong>Имя: {{ name }} </strong></p>
<p><strong>Фамилия: {{ surname }}</strong></p>
<p><strong>Дата Рождения: {{ birthday }}</strong></p>
<p><strong>Телосложение: {{ body }}</strong></p>
<p><strong>Рост: {{ height }}</strong></p>
<p><strong>Почта: {{ email }}</strong></p>
<p><strong>Номер: {{ number }}</strong></p>
<p><strong>Типаж: {{ types }}</strong></p>
<p><strong>Пол: {{ sex }}</strong></p>
<p><strong>Город: {{ town }}</strong></p>
<p><strong>english: {{ english }}</strong></p>
<p><strong>russian: {{ russian }}</strong></p>
<p><strong>deutch: {{ deutch }}</strong></p>
<p><strong>france: {{ france }}</strong></p>
<p><strong>spanish: {{ spanish }}</strong></p>
<p><strong>kazakh: {{ kazakh }}</strong></p>
<p><strong>korean: {{ korean }}</strong></p>
<p><strong>japan: {{ japan }}</strong></p>
<p><strong>chinese: {{ chinese }}</strong></p>
<p><strong>dance: {{ dance }}</strong></p>
<p><strong>ballet: {{ ballet }}</strong></p>
<p><strong>wrestling: {{ wrestling }}</strong></p>
<p><strong>swimming: {{ swimming }}</strong></p>
<p><strong>box: {{ box }}</strong></p>
<p><strong>judo: {{ judo }}</strong></p>
<p><strong>football: {{ football }}</strong></p>
<p><strong>gymnastic: {{ gymnastic }}</strong></p>
<p><strong>music: {{ music }}</strong></p>
<p><strong>staj: {{ staj }}</strong></p>
<p><strong>Другое: {{ other }}</strong></p>