<p><strong>Имя: {{ name }} </strong></p>
<p><strong>Фамилия: {{ surname }}</strong></p>
<p><strong>Дата Рождения: {{ birthday }}</strong></p>
<p><strong>Телосложение: {{ body }}</strong></p>
<p><strong>Рост: {{ height }}</strong></p>
<p><strong>Почта: {{ email }}</strong></p>
<p><strong>Номер: {{ number }}</strong></p>
<p><strong>Типаж: {{ types }}</strong></p>
<p><strong>Пол: {{ sex }}</strong></p>
<p><strong>Город: {{ town }}</strong></p>
<p><strong>Язык: {{ language }}</strong></p>
<p><strong>Другое: {{ other }}</strong></p>