{% extends 'base.html' %}

{% load widget_tweaks %}
{% load staticfiles %}

{% block content %}

    <div class="popup m_popup" data-popup="popup-1" id="popup-moviemaker">

    </div>


    <!-- The Modal -->
    <div id="myModal" class="modal">

        <!-- Modal content -->
        <div class="modal-content">
            <h3>Зарегистрируйся и работодатель или интересный проект сам найдет тебя!</h3>

            <form method="post" action="{% url 'moviemakers_application' %}" class="modal_form" enctype="multipart/form-data">

                <div class="field">
                    <label for="name">Имя<br>
                        <input type="text" name="name" id="name">
                    </label>

                    <label for="surname">Фамилия<br>
                        <input type="text" name="surname" id="surname">
                    </label>
                </div>

                <div class="field">
                    <label for="e_select2">Опыт работы<br>
                        <select name="select-staj" id="e_select2">
                            <option>1 лет</option>
                            <option>2 года</option>
                            <option>3 года</option>
                            <option>4 года</option>
                            <option>5 лет</option>
                            <option>6 лет</option>
                            <option>7 лет</option>
                            <option>8 лет</option>
                            <option>9 лет</option>
                            <option>10 лет</option>
                            <option>11 лет</option>
                            <option>12 лет</option>
                            <option>13 лет</option>
                            <option>14 лет</option>
                            <option>15 лет</option>
                        </select>
                    </label>
                </div>

                <div class="field">
                    <label for="education">Образование<br>
                        <input type="text" name="education" id="education">
                    </label>
                </div>

                <div class="field checkbox">
                    <div class="switch-title">Знание языков</div>
                    <input id="check1" type="checkbox" name="kyrgyz">
                    <label for="check1">Кыргызский </label>

                    <input id="check2" type="checkbox" name="france">
                    <label for="check2">Французский </label>

                    <input id="check3" type="checkbox" name="korean">
                    <label for="check3">Корейский </label>

                    <input id="check4" type="checkbox" name="russian">
                    <label for="check4">Русский </label>

                    <input id="check5" type="checkbox" name="deutche">
                    <label for="check5">Немецкий </label>

                    <input id="check6" type="checkbox" name="japan">
                    <label for="check6">Японский </label>


                    <input id="check12" type="checkbox" name="spanish">
                    <label for="check12">Испанский </label>

                    <input id="check13" type="checkbox" name="english">
                    <label for="check13">Анлийский </label>

                    <input id="check60" type="checkbox" name="turkish">
                    <label for="check60">Турецкий </label>

                    <input id="check15" type="checkbox" name="uzbek">
                    <label for="check15">Узбекский </label>

                    <input id="check16" type="checkbox" name="kazakh">
                    <label for="check16">Казахский </label>
                </div>

                <div class="field checkbox">
                    <div class="switch-title">Специальность</div>
                    <input id="check31" type="checkbox" name="director">
                    <label for="check31">Режиссер</label>

                    <input id="check14" type="checkbox" name="art-director">
                    <label for="check14">Художник потановщик</label>

                    <input id="check15" type="checkbox" name="second-director">
                    <label for="check15">Второй режиссер</label>

                    <input id="check16" type="checkbox" name="lighter">
                    <label for="check16">Осветитель</label>

                    <input id="check17" type="checkbox" name="operator">
                    <label for="check17">Оператор</label>

                    <input id="check18" type="checkbox" name="assistent">
                    <label for="check18">Ассистент по актерами</label>

                    <input id="check19" type="checkbox" name="kaskader">
                    <label for="check19">Каскадер</label>

                    <input id="check20" type="checkbox" name="grimer">
                    <label for="check20">Гример</label>

                    <input id="check21" type="checkbox" name="scenarist">
                    <label for="check21">Сценарист</label>

                    <input id="check22" type="checkbox" name="recorder">
                    <label for="check22">Звукорежиссер</label>

                    <input id="check23" type="checkbox" name="rekvizitor">
                    <label for="check23">Реквизитор</label>

                    <input id="check24" type="checkbox" name="montajer">
                    <label for="check24">Монтажер</label>

                    <input id="check25" type="checkbox" name="hudojnik-costume">
                    <label for="check25">Художник по костюмам</label>

                    <input id="check26" type="checkbox" name="producer-lineinyi">
                    <label for="check26">Линейный продюсер
                    </label>

                    <input id="check27" type="checkbox" name="stilist">
                    <label for="check27">Стилист по прическам</label>

                    <input id="check28" type="checkbox" name="casting">
                    <label for="check28">Директор по кастингу</label>

                    <input id="check29" type="checkbox" name="musician">
                    <label for="check29">Композитор</label>

                    <input id="check30" type="checkbox" name="producer-main">
                    <label for="check30">Исполнительный продюсер</label>

                </div>

                <div class="field">
                    <div class="switch-title">* Номер телефона обязателен к заполнению</div>
                    <label for="phone">


                        <input type="tel" name="phone" id="phone" placeholder="Телефон">
                    </label>

                    <label for="email">

                        <input type="email" name="email" id="email" placeholder="E-mail">
                    </label>
                </div>

                <div class="field">

                    <ul class="blocks">
                        <li class="item">
                            <label for="project">Проекты<br>
                                 <br>
                                <input type="text" name="project" id="project" placeholder="Название проекта">
                            </label>
                        </li>
                    </ul>

                    <ul class="link_block">
                        <li class="link_item">
                             <br>
                            <label for="link">Ссылка на проект<br>
                                 <br>
                                <input type="text" name="video_link" id="link" placeholder="Введите ссылку">
                            </label>
                        </li>
                    </ul>

                    <button class="add-block"><img src="{% static 'images/plus_icon.png' %}" alt="image">Добавить еще
                        один
                        проект и
                        ссылку на видео
                    </button>
                </div>

                <div class="file_container">

                    <div class="field add-img">
                        <button class="button_file" type="button">
                            + Добавьте постер проекта и личное фото
                            <input name="file_link" type="file" id="input-file">
                        </button>
                        <p class="added"></p>

                        <p class="nadded">Формат: jpg, jpeg, png</p>
                    </div>

                </div>

                <div class="button_block">
                    <button type="reset" name="reset">Очистить фильтры</button>
                    <input type="submit" name="button" value="Отправить" class="submit">
                </div>

            </form>
            <span class="modal_close"></span>
        </div>

    </div>

    <div class="b_bg1">
        <div class="b_content1 grid">

            {% include 'main/header.html' %}

            <h3>Кинематографисты</h3>

            {#            <div class="favourite">#}
            {#                <div class="count">15</div>#}
            {#                <img src="{% static 'images/fav_icon.png' %}" alt="icon">#}
            {#                <span>Избранное</span>#}
            {#            </div>#}
        </div>
    </div>

    <div class="m_bg1">
        <div class="m_content1 grid">
            <form method="post" action="{% url 'filter_moviemaker' %}" class="m_search">
                <div class="field">
                    <label for="e_select1">Категории<br>
                        {% render_field form.category %}
                    </label>
                </div>

                <div class="field">
                    <div class="switch-title">Опыт (в годах)</div>
                    <label for="e_number3">
                        {% render_field form.minAge %}
                    </label>

                    <label for="e_number4">
                        {% render_field form.maxAge %}
                    </label>
                </div>

                <div class="field">
                    <label for="select3">Знание языков<br>
                        {% render_field form.language %}
                    </label>
                </div>

                <div class="field">
                    <label for="select3">Готовность к выездам
                        {% render_field form.ready %}
                    </label>

                </div>

                <input type="submit" name="button" value="Найти специалиста" class="submit">
                <a href="#" class="link" id="myBtn">Попасть в базу кинематографистов</a>
            </form>

            <div class="moviemakers">
                {% for maker in moviemaker %}
                    <div class="m_maker">

                        <div class="m_block" data-popup-open="popup-1">
                            <a href="{% url 'ajax_moviemaker_get' id=maker.id %}" class="moviemakers-trigger"> <img
                                    src="/media/{{ MEDIA_URL }}{{ maker.image }}" alt="image"></a>
                        </div>

                        <div class="moviemaker">
                            <a href="{% url 'ajax_moviemaker_get' id=maker.id %}" class="moviemakers-trigger"><h5
                                    data-popup-open="popup-1">{{ maker.firstname }} {{ maker.lastname }} {{ maker.surname }}</h5>
                            </a>

                            {#                            <div class="fav_button link"><img src="{% static 'images/favourite_icon.png' %}" alt="icon">Добавить#}
                            {#                                в#}
                            {#                                избранное#}
                            {#                            </div>#}

                            <ul class="m_desc">
                                <li>Специализация:</li>
                                <li>{{ maker.job_type }}</li>
                                <li>Опыть работы:</li>
                                <li>{{ maker.experience }} лет</li>
                                <li>Образование</li>
                                <li>{{ maker.education }}</li>
                                <li>Знание языков:</li>
                                <li>{{ maker.languages }}</li>
                                <li>Готовность к выезду:</li>
                                <li>{{ maker.ready_to_go }}</li>
                                <li>Проекты:</li>
                                <li>
                                    {% for item in maker.project_set.all %}
                                        <div class="project">
                                            <div class="p_desc">{{ item.title }}</div>
                                            <div class="p_img">
                                                <div class="project_hover"></div>
                                                <img src="/media/{{ MEDIA_URL }}{{ item.image }}" alt="project">
                                            </div>
                                        </div>

                                    {% endfor %}
                                    {#                                    <a href="#" class="link">+ 4 проекта</a>#}
                                </li>
                            </ul>
                        </div>
                    </div>
                {% endfor %}

                <ul class="pagination" style="text-align: center;">
                    {% if moviemaker.has_previous %}

                        <li><a href="?page={{ moviemaker.previous_page_number }}">пред</a></li>

                    {% endif %}

                    <li><a href="#" class="active">{{ moviemaker.number }} из {{ moviemaker.paginator.num_pages }}</a>
                    </li>

                    {% if moviemaker.has_next %}

                        <li><a href="?page={{ moviemaker.next_page_number }}">след</a></li>

                    {% endif %}
                </ul>
            </div>
        </div>
    </div>

    {% block scripts %}

        <script>
            $(document).ready(function () {
                var clickFund = function () {
                    var fieldImg = $(this).parent(".add-img");
                    var added = $(fieldImg).find('.added');
                    var nadded = $(fieldImg).find('.nadded');

                    $(this).find("input[type=file]").change(function () {
                        var filename = $(this).val().replace(/.*\\/, "");

                        $(added).text(filename + " загружен");
                        $(this).parent().hide();
                        $(nadded).hide();
                        $(fieldImg).after(' "<div class="field add-img"> <button class="button_file" type="button"> Добавить другой файл <input type="file" id="input-file" multiple> </button> <p class="added"></p></div>"');

                        $('.add-img button').on('click', clickFund);
                    });
                    $('.add-img button').on('click', clickFund);
                };
                $('.add-img button').on('click', clickFund);

            });
        </script>

        <script>
            var $blocks = $('.blocks');
            var $link_block = $('.link_block');
            totalBlocks = $blocks.children('.item').length;
            totalBlocks = $link_block.children('.link_item').length;


            $('.add-block').click(function (e) {
                var $newBlock = $('<li class="item"><input type="text" name="project" id="project" placeholder="Название проекта"></li>');
                var $linkBlock = $('<li class="link_item"><input type="text" name="video_link" id="project" placeholder="Введите ссылку"></li>');

                ++totalBlocks;
//        $newBlock.text('Item ' + totalBlocks);
                $blocks.append($newBlock);
                $link_block.append($linkBlock);
                {#                e.preventDefault();#}
            });

            //    $blocks.on('click', '> .item', function(e) {
            //        $(this).remove();
            //        --totalBlocks;
            //        reorderBlocks();
            //        e.preventDefault();
            //    });

            function reorderBlocks() {
                var $blockItems = $blocks.children('.item');
                $blockItems.each(function (index) {
//            $(this).text('Item ' + (index + 1));
                });
            }
        </script>

        <script>
            $(document).ready(function () {
                $('.popup_scroll').perfectScrollbar();
                $('.ps-scrollbar-y-rail').css('opacity', 1)
            });
        </script>

        <script>
            $(function () {
                //----- OPEN
                $('[data-popup-open]').on('click', function (e) {
                    var targeted_popup_class = jQuery(this).attr('data-popup-open');
                    $('[data-popup="' + targeted_popup_class + '"]').fadeIn(350);

                    e.preventDefault();
                });

                //----- CLOSE

            });

            $('.moviemakers-trigger').each(function (i, obj) {
                $(obj).on('click', function (event) {
                    event.preventDefault();
                    var that = this;
                    $.ajax({
                        method: 'POST',
                        dataType: 'HTML',
                        url: $(that).attr('href'),
                        success: function (response) {
                            $('#popup-moviemaker').html(response);


                            $('[data-popup-close]').on('click', function (e) {

                                e.preventDefault();
                                var targeted_popup_class = jQuery(this).attr('data-popup-close');
                                $('[data-popup="' + targeted_popup_class + '"]').fadeOut(350);


                            });

                            $(document).ready(function () {
                                $('.popup_scroll').perfectScrollbar();
                                $('.ps-scrollbar-y-rail').css('opacity', 1)
                            });
                        },
                        error: function () {
                            console.error('Error to send requet!');
                        }
                    });
                })
            });
        </script>
    {% endblock %}
{% endblock %}