<p><strong>Name: {{ name }} </strong></p>
<p><strong>Surname: {{ surname }} </strong></p>
<p><strong>staj: {{ staj }} </strong></p>
<p><strong>education: {{ education }} </strong></p>
<p><strong>phone_number: {{ phone_number }} </strong></p>
<p><strong>email: {{ email }} </strong></p>
<p><strong>video_link: {{ video_link }} </strong></p>
<p><strong>kyrgyz: {{ kyrgyz }} </strong></p>
<p><strong>france: {{ france }} </strong></p>
<p><strong>korean: {{ korean }} </strong></p>
<p><strong>japan: {{ japan }} </strong></p>
<p><strong>russian: {{ russian }} </strong></p>
<p><strong>deutche: {{ deutche }} </strong></p>
<p><strong>spanish: {{ spanish }} </strong></p>
<p><strong>enlish: {{ english }} </strong></p>
<p><strong>director: {{ director }} </strong></p>
<p><strong>osvetitel: {{ osvetitel }} </strong></p>
<p><strong>scenarist: {{ scenarist }} </strong></p>
<p><strong>hudojnik_costume: {{ hudojnik_costume }} </strong></p>
<p><strong>compositor: {{ compositor }} </strong></p>
<p><strong>postanovshik: {{ postanovshik }} </strong></p>
<p><strong>assistent: {{ assistent }} </strong></p>
<p><strong>operator: {{ operator }} </strong></p>
<p><strong>line_producer: {{ line_producer }} </strong></p>
<p><strong>kaskader: {{ kaskader }} </strong></p>
<p><strong>main_producer: {{ main_producer }} </strong></p>
<p><strong>project: {{ project }} </strong></p>
<p><strong>uzbek: {{ uzbek }} </strong></p>
<p><strong>kazakh: {{ kazakh }} </strong></p>
<p><strong>turkish: {{ turkish }} </strong></p>
<p><strong>photographer: {{ photographer }} </strong></p>
