{% extends 'base.html' %}

{% load staticfiles %}

{% block content %}

    <div class="b_bg1">
        <div class="b_content1 grid">
            <header class="group">
                <a href="#" class="logo"><img src="{% static 'images/header_logo.png' %}" alt="logotype"></a>

                <nav class="responsive menu-collapsed">
                    <div class="bar"></div>
                    <ul class="menu">
                        <li {% if location == 'index' %}class="active"{% endif %}><a
                                href="{% url 'index' %}">Главная</a></li>
                        <li {% if location == 'actors' %}class="active"{% endif %}><a
                                href="{% url 'actor' %}">Актеры</a></li>
                        <li {% if location == 'moviemaker' %}class="active"{% endif %}><a href="{% url 'moviemaker' %}">Кинематографисты</a>
                        </li>
                        <li><a href="#">Студии</a></li>
                        <li><a href="#">локации</a></li>
                        <li><a href="#">услуги</a></li>
                        <li><a href="#">О нас</a></li>
                        <li><a href="{% url 'news' %}">Новости и кастинги</a></li>
                        <li><a href="#">Контакты</a></li>
                    </ul>
                </nav>

                <div class="h_block">
                    <div class="p_number"><img src="{% static 'images/phone_icon.png' %}" alt="icon">+ 996 558 002 444
                    </div>
                </div>
            </header>

            <h3>Новости и кастинги</h3>

        </div>
    </div>

    <div class="n_bg1">
        <div class="n_content1 grid">
            <ul class="tabs-nav">
                <li><a href="#tab-1">Все новости</a></li>
                <li><a href="#tab-2">Кастинги</a></li>
                <li><a href="#tab-3">Новости</a></li>
                <li><a href="#tab-4">Советы</a></li>
            </ul>

            <div class="tabs-stage">
                <div class="all_news" id="tab-1">
                    <div class="col1">
                        <div class="l_news">
                            <h5><a href="#">Кастинговое агенство “The face” набирает актерев для нового проекта</a></h5>

                            <p>Его характеризует предельно короткое время перезарядки, длительность импульса, способная
                                «заморозить» движение при съемке длительность импульса, способная «заморозить» движение
                                при
                                съемке...</p>

                            <span>15. 12. 2016</span>

                            <p><a href="#">Читать подробнее</a></p>

                            <div class="type">
                                <div class="tag">Кастинги</div>
                                <div class="tag">Новости</div>
                            </div>
                        </div>

                        <div class="m_news">
                            <a class="n_block">
                                <img src="{% static 'images/m_news1.jpg' %}" alt="image">

                                <div class="type">
                                    <div class="tag">Советы</div>
                                    <div class="tag">Новости</div>
                                </div>
                            </a>
                            <div class="n_desc">
                                <h5><a href="#">Как актеру массовки стать звездой кино</a></h5>

                                <p>Его характеризует предельно короткое время перезарядки, длительность импульса...</p>
                                <span>15. 12. 2016</span>

                                <p><a href="#">Читать подробнее</a></p>
                            </div>
                        </div>

                        <div class="m_news">
                            <div class="n_block">
                                <img src="{% static 'images/m_news2.jpg' %}" alt="image">

                                <div class="type">
                                    <div class="tag">Советы</div>
                                    <div class="tag">Новости</div>
                                </div>
                            </div>
                            <div class="n_desc">
                                <h5><a href="#">Как актеру массовки стать звездой кино</a></h5>

                                <p>Его характеризует предельно короткое время перезарядки, длительность импульса...</p>
                                <span>15. 12. 2016</span>

                                <p><a href="#">Читать подробнее</a></p>
                            </div>
                        </div>

                        <div class="s_news">
                            <h5><a href="#">Кастинговое агенство “The face” набирает актерев для нового проекта</a></h5>

                            <p>Его характеризует предельно короткое время перезарядки, длительность импульса,
                                способная «заморозить» движение при съемке предельно короткое время перезарядки,
                                длительность импульса...</p>
                            <span>15. 12. 2016</span>

                            <p><a href="#">Читать подробнее</a></p>

                            <div class="type">
                                <div class="tag">Кастинги</div>
                                <div class="tag">Новости</div>
                            </div>
                        </div>

                        <div class="l_news">
                            <h5><a href="#">Кастинговое агенство “The face” набирает актерев для нового проекта</a></h5>

                            <p>Его характеризует предельно короткое время перезарядки, длительность импульса, способная
                                «заморозить» движение при съемке длительность импульса, способная «заморозить» движение
                                при
                                съемке...</p>

                            <span>15. 12. 2016</span>

                            <p><a href="#">Читать подробнее</a></p>

                            <div class="type">
                                <div class="tag">Кастинги</div>
                                <div class="tag">Новости</div>
                            </div>
                        </div>
                    </div>
                    <div class="col2">
                        <div class="m_news">
                            <a class="n_block">
                                <img src="{% static 'images/m_news1.jpg' %}" alt="image">

                                <div class="type">
                                    <div class="tag">Советы</div>
                                    <div class="tag">Новости</div>
                                </div>
                            </a>
                            <div class="n_desc">
                                <h5><a href="#">Как актеру массовки стать звездой кино</a></h5>

                                <p>Его характеризует предельно короткое время перезарядки, длительность импульса...</p>
                                <span>15. 12. 2016</span>

                                <p><a href="#">Читать подробнее</a></p>
                            </div>
                        </div>

                        <div class="m_news">
                            <div class="n_block">
                                <img src="{% static 'images/m_news2.jpg' %}" alt="image">

                                <div class="type">
                                    <div class="tag">Советы</div>
                                    <div class="tag">Новости</div>
                                </div>
                            </div>
                            <div class="n_desc">
                                <h5><a href="#">Как актеру массовки стать звездой кино</a></h5>

                                <p>Его характеризует предельно короткое время перезарядки, длительность импульса...</p>
                                <span>15. 12. 2016</span>

                                <p><a href="#">Читать подробнее</a></p>
                            </div>
                        </div>

                        <div class="s_news">
                            <h5><a href="#">Кастинговое агенство “The face” набирает актерев для нового проекта</a></h5>

                            <p>Его характеризует предельно короткое время перезарядки, длительность импульса,
                                способная «заморозить» движение при съемке предельно короткое время перезарядки,
                                длительность импульса...</p>
                            <span>15. 12. 2016</span>

                            <p><a href="#">Читать подробнее</a></p>

                            <div class="type">
                                <div class="tag">Кастинги</div>
                                <div class="tag">Новости</div>
                            </div>
                        </div>

                        <div class="l_news">
                            <h5><a href="#">Кастинговое агенство “The face” набирает актерев для нового проекта</a></h5>

                            <p>Его характеризует предельно короткое время перезарядки, длительность импульса, способная
                                «заморозить» движение при съемке длительность импульса, способная «заморозить» движение
                                при
                                съемке...</p>

                            <span>15. 12. 2016</span>

                            <p><a href="#">Читать подробнее</a></p>

                            <div class="type">
                                <div class="tag">Кастинги</div>
                                <div class="tag">Новости</div>
                            </div>
                        </div>

                        <div class="m_news">
                            <a class="n_block">
                                <img src="{% static 'images/m_news1.jpg' %}" alt="image">

                                <div class="type">
                                    <div class="tag">Советы</div>
                                    <div class="tag">Новости</div>
                                </div>
                            </a>
                            <div class="n_desc">
                                <h5><a href="#">Как актеру массовки стать звездой кино</a></h5>

                                <p>Его характеризует предельно короткое время перезарядки, длительность импульса...</p>
                                <span>15. 12. 2016</span>

                                <p><a href="#">Читать подробнее</a></p>
                            </div>
                        </div>

                        <div class="m_news">
                            <div class="n_block">
                                <img src="{% static 'images/m_news2.jpg' %}" alt="image">

                                <div class="type">
                                    <div class="tag">Советы</div>
                                    <div class="tag">Новости</div>
                                </div>
                            </div>
                            <div class="n_desc">
                                <h5><a href="#">Как актеру массовки стать звездой кино</a></h5>

                                <p>Его характеризует предельно короткое время перезарядки, длительность импульса...</p>
                                <span>15. 12. 2016</span>

                                <p><a href="#">Читать подробнее</a></p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="all_news" id="tab-2">
                    <div class="col1">
                        <div class="l_news">
                            <h5><a href="#">Кастинговое агенство “The face” набирает актерев для нового проекта</a></h5>

                            <p>Его характеризует предельно короткое время перезарядки, длительность импульса, способная
                                «заморозить» движение при съемке длительность импульса, способная «заморозить» движение
                                при
                                съемке...</p>

                            <span>15. 12. 2016</span>

                            <p><a href="#">Читать подробнее</a></p>

                            <div class="type">
                                <div class="tag">Кастинги</div>
                                <div class="tag">Новости</div>
                            </div>
                        </div>

                        <div class="m_news">
                            <a class="n_block">
                                <img src="{% static 'images/m_news1.jpg' %}" alt="image">

                                <div class="type">
                                    <div class="tag">Советы</div>
                                    <div class="tag">Новости</div>
                                </div>
                            </a>
                            <div class="n_desc">
                                <h5><a href="#">Как актеру массовки стать звездой кино</a></h5>

                                <p>Его характеризует предельно короткое время перезарядки, длительность импульса...</p>
                                <span>15. 12. 2016</span>

                                <p><a href="#">Читать подробнее</a></p>
                            </div>
                        </div>

                        <div class="m_news">
                            <div class="n_block">
                                <img src="{% static 'images/m_news2.jpg' %}" alt="image">

                                <div class="type">
                                    <div class="tag">Советы</div>
                                    <div class="tag">Новости</div>
                                </div>
                            </div>
                            <div class="n_desc">
                                <h5><a href="#">Как актеру массовки стать звездой кино</a></h5>

                                <p>Его характеризует предельно короткое время перезарядки, длительность импульса...</p>
                                <span>15. 12. 2016</span>

                                <p><a href="#">Читать подробнее</a></p>
                            </div>
                        </div>

                        <div class="s_news">
                            <h5><a href="#">Кастинговое агенство “The face” набирает актерев для нового проекта</a></h5>

                            <p>Его характеризует предельно короткое время перезарядки, длительность импульса,
                                способная «заморозить» движение при съемке предельно короткое время перезарядки,
                                длительность импульса...</p>
                            <span>15. 12. 2016</span>

                            <p><a href="#">Читать подробнее</a></p>

                            <div class="type">
                                <div class="tag">Кастинги</div>
                                <div class="tag">Новости</div>
                            </div>
                        </div>

                        <div class="l_news">
                            <h5><a href="#">Кастинговое агенство “The face” набирает актерев для нового проекта</a></h5>

                            <p>Его характеризует предельно короткое время перезарядки, длительность импульса, способная
                                «заморозить» движение при съемке длительность импульса, способная «заморозить» движение
                                при
                                съемке...</p>

                            <span>15. 12. 2016</span>

                            <p><a href="#">Читать подробнее</a></p>

                            <div class="type">
                                <div class="tag">Кастинги</div>
                                <div class="tag">Новости</div>
                            </div>
                        </div>
                    </div>
                    <!--<div class="col2">-->
                    <!--<div class="m_news">-->
                    <!--<a class="n_block">-->
                    <!--<img src="assets/images/m_news1.jpg" alt="image">-->

                    <!--<div class="type">-->
                    <!--<div class="tag">Советы</div>-->
                    <!--<div class="tag">Новости</div>-->
                    <!--</div>-->
                    <!--</a>-->
                    <!--<div class="n_desc">-->
                    <!--<h5><a href="#">Как актеру массовки стать звездой кино</a></h5>-->

                    <!--<p>Его характеризует предельно короткое время перезарядки, длительность импульса...</p>-->
                    <!--<span>15. 12. 2016</span>-->

                    <!--<p><a href="#">Читать подробнее</a></p>-->
                    <!--</div>-->
                    <!--</div>-->

                    <!--<div class="m_news">-->
                    <!--<div class="n_block">-->
                    <!--<img src="assets/images/m_news2.jpg" alt="image">-->

                    <!--<div class="type">-->
                    <!--<div class="tag">Советы</div>-->
                    <!--<div class="tag">Новости</div>-->
                    <!--</div>-->
                    <!--</div>-->
                    <!--<div class="n_desc">-->
                    <!--<h5><a href="#">Как актеру массовки стать звездой кино</a></h5>-->

                    <!--<p>Его характеризует предельно короткое время перезарядки, длительность импульса...</p>-->
                    <!--<span>15. 12. 2016</span>-->

                    <!--<p><a href="#">Читать подробнее</a></p>-->
                    <!--</div>-->
                    <!--</div>-->

                    <!--<div class="s_news">-->
                    <!--<h5><a href="#">Кастинговое агенство “The face” набирает актерев для нового проекта</a></h5>-->

                    <!--<p>Его характеризует предельно короткое время перезарядки, длительность импульса,-->
                    <!--способная «заморозить» движение при съемке предельно короткое время перезарядки,-->
                    <!--длительность импульса...</p>-->
                    <!--<span>15. 12. 2016</span>-->

                    <!--<p><a href="#">Читать подробнее</a></p>-->

                    <!--<div class="type">-->
                    <!--<div class="tag">Кастинги</div>-->
                    <!--<div class="tag">Новости</div>-->
                    <!--</div>-->
                    <!--</div>-->

                    <!--<div class="l_news">-->
                    <!--<h5><a href="#">Кастинговое агенство “The face” набирает актерев для нового проекта</a></h5>-->

                    <!--<p>Его характеризует предельно короткое время перезарядки, длительность импульса, способная-->
                    <!--«заморозить» движение при съемке длительность импульса, способная «заморозить» движение при-->
                    <!--съемке...</p>-->

                    <!--<span>15. 12. 2016</span>-->

                    <!--<p><a href="#">Читать подробнее</a></p>-->

                    <!--<div class="type">-->
                    <!--<div class="tag">Кастинги</div>-->
                    <!--<div class="tag">Новости</div>-->
                    <!--</div>-->
                    <!--</div>-->

                    <!--<div class="m_news">-->
                    <!--<a class="n_block">-->
                    <!--<img src="assets/images/m_news1.jpg" alt="image">-->

                    <!--<div class="type">-->
                    <!--<div class="tag">Советы</div>-->
                    <!--<div class="tag">Новости</div>-->
                    <!--</div>-->
                    <!--</a>-->
                    <!--<div class="n_desc">-->
                    <!--<h5><a href="#">Как актеру массовки стать звездой кино</a></h5>-->

                    <!--<p>Его характеризует предельно короткое время перезарядки, длительность импульса...</p>-->
                    <!--<span>15. 12. 2016</span>-->

                    <!--<p><a href="#">Читать подробнее</a></p>-->
                    <!--</div>-->
                    <!--</div>-->

                    <!--<div class="m_news">-->
                    <!--<div class="n_block">-->
                    <!--<img src="assets/images/m_news2.jpg" alt="image">-->

                    <!--<div class="type">-->
                    <!--<div class="tag">Советы</div>-->
                    <!--<div class="tag">Новости</div>-->
                    <!--</div>-->
                    <!--</div>-->
                    <!--<div class="n_desc">-->
                    <!--<h5><a href="#">Как актеру массовки стать звездой кино</a></h5>-->

                    <!--<p>Его характеризует предельно короткое время перезарядки, длительность импульса...</p>-->
                    <!--<span>15. 12. 2016</span>-->

                    <!--<p><a href="#">Читать подробнее</a></p>-->
                    <!--</div>-->
                    <!--</div>-->
                    <!--</div>-->
                </div>

                <div class="all_news" id="tab-3">
                    <div class="col1">
                        <div class="l_news">
                            <h5><a href="#">Кастинговое агенство “The face” набирает актерев для нового проекта</a></h5>

                            <p>Его характеризует предельно короткое время перезарядки, длительность импульса, способная
                                «заморозить» движение при съемке длительность импульса, способная «заморозить» движение
                                при
                                съемке...</p>

                            <span>15. 12. 2016</span>

                            <p><a href="#">Читать подробнее</a></p>

                            <div class="type">
                                <div class="tag">Кастинги</div>
                                <div class="tag">Новости</div>
                            </div>
                        </div>

                        <div class="m_news">
                            <a class="n_block">
                                <img src="{% static 'images/m_news1.jpg' %}" alt="image">

                                <div class="type">
                                    <div class="tag">Советы</div>
                                    <div class="tag">Новости</div>
                                </div>
                            </a>
                            <div class="n_desc">
                                <h5><a href="#">Как актеру массовки стать звездой кино</a></h5>

                                <p>Его характеризует предельно короткое время перезарядки, длительность импульса...</p>
                                <span>15. 12. 2016</span>

                                <p><a href="#">Читать подробнее</a></p>
                            </div>
                        </div>

                        <div class="m_news">
                            <div class="n_block">
                                <img src="{% static 'images/m_news2.jpg' %}" alt="image">

                                <div class="type">
                                    <div class="tag">Советы</div>
                                    <div class="tag">Новости</div>
                                </div>
                            </div>
                            <div class="n_desc">
                                <h5><a href="#">Как актеру массовки стать звездой кино</a></h5>

                                <p>Его характеризует предельно короткое время перезарядки, длительность импульса...</p>
                                <span>15. 12. 2016</span>

                                <p><a href="#">Читать подробнее</a></p>
                            </div>
                        </div>

                        <div class="s_news">
                            <h5><a href="#">Кастинговое агенство “The face” набирает актерев для нового проекта</a></h5>

                            <p>Его характеризует предельно короткое время перезарядки, длительность импульса,
                                способная «заморозить» движение при съемке предельно короткое время перезарядки,
                                длительность импульса...</p>
                            <span>15. 12. 2016</span>

                            <p><a href="#">Читать подробнее</a></p>

                            <div class="type">
                                <div class="tag">Кастинги</div>
                                <div class="tag">Новости</div>
                            </div>
                        </div>

                        <div class="l_news">
                            <h5><a href="#">Кастинговое агенство “The face” набирает актерев для нового проекта</a></h5>

                            <p>Его характеризует предельно короткое время перезарядки, длительность импульса, способная
                                «заморозить» движение при съемке длительность импульса, способная «заморозить» движение
                                при
                                съемке...</p>

                            <span>15. 12. 2016</span>

                            <p><a href="#">Читать подробнее</a></p>

                            <div class="type">
                                <div class="tag">Кастинги</div>
                                <div class="tag">Новости</div>
                            </div>
                        </div>
                    </div>
                    <div class="col2">
                        <div class="m_news">
                            <a class="n_block">
                                <img src="{% static 'images/m_news1.jpg' %}" alt="image">

                                <div class="type">
                                    <div class="tag">Советы</div>
                                    <div class="tag">Новости</div>
                                </div>
                            </a>
                            <div class="n_desc">
                                <h5><a href="#">Как актеру массовки стать звездой кино</a></h5>

                                <p>Его характеризует предельно короткое время перезарядки, длительность импульса...</p>
                                <span>15. 12. 2016</span>

                                <p><a href="#">Читать подробнее</a></p>
                            </div>
                        </div>

                        <div class="m_news">
                            <div class="n_block">
                                <img src="{% static 'images/m_news2.jpg' %}" alt="image">

                                <div class="type">
                                    <div class="tag">Советы</div>
                                    <div class="tag">Новости</div>
                                </div>
                            </div>
                            <div class="n_desc">
                                <h5><a href="#">Как актеру массовки стать звездой кино</a></h5>

                                <p>Его характеризует предельно короткое время перезарядки, длительность импульса...</p>
                                <span>15. 12. 2016</span>

                                <p><a href="#">Читать подробнее</a></p>
                            </div>
                        </div>

                        <div class="s_news">
                            <h5><a href="#">Кастинговое агенство “The face” набирает актерев для нового проекта</a></h5>

                            <p>Его характеризует предельно короткое время перезарядки, длительность импульса,
                                способная «заморозить» движение при съемке предельно короткое время перезарядки,
                                длительность импульса...</p>
                            <span>15. 12. 2016</span>

                            <p><a href="#">Читать подробнее</a></p>

                            <div class="type">
                                <div class="tag">Кастинги</div>
                                <div class="tag">Новости</div>
                            </div>
                        </div>

                        <div class="l_news">
                            <h5><a href="#">Кастинговое агенство “The face” набирает актерев для нового проекта</a></h5>

                            <p>Его характеризует предельно короткое время перезарядки, длительность импульса, способная
                                «заморозить» движение при съемке длительность импульса, способная «заморозить» движение
                                при
                                съемке...</p>

                            <span>15. 12. 2016</span>

                            <p><a href="#">Читать подробнее</a></p>

                            <div class="type">
                                <div class="tag">Кастинги</div>
                                <div class="tag">Новости</div>
                            </div>
                        </div>

                        <div class="m_news">
                            <a class="n_block">
                                <img src="{% static 'images/m_news1.jpg' %}" alt="image">

                                <div class="type">
                                    <div class="tag">Советы</div>
                                    <div class="tag">Новости</div>
                                </div>
                            </a>
                            <div class="n_desc">
                                <h5><a href="#">Как актеру массовки стать звездой кино</a></h5>

                                <p>Его характеризует предельно короткое время перезарядки, длительность импульса...</p>
                                <span>15. 12. 2016</span>

                                <p><a href="#">Читать подробнее</a></p>
                            </div>
                        </div>

                        <div class="m_news">
                            <div class="n_block">
                                <img src="{% static 'images/m_news2.jpg' %}" alt="image">

                                <div class="type">
                                    <div class="tag">Советы</div>
                                    <div class="tag">Новости</div>
                                </div>
                            </div>
                            <div class="n_desc">
                                <h5><a href="#">Как актеру массовки стать звездой кино</a></h5>

                                <p>Его характеризует предельно короткое время перезарядки, длительность импульса...</p>
                                <span>15. 12. 2016</span>

                                <p><a href="#">Читать подробнее</a></p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="all_news" id="tab-4">
                    <div class="col1">
                        <div class="l_news">
                            <h5><a href="#">Кастинговое агенство “The face” набирает актерев для нового проекта</a></h5>

                            <p>Его характеризует предельно короткое время перезарядки, длительность импульса, способная
                                «заморозить» движение при съемке длительность импульса, способная «заморозить» движение
                                при
                                съемке...</p>

                            <span>15. 12. 2016</span>

                            <p><a href="#">Читать подробнее</a></p>

                            <div class="type">
                                <div class="tag">Кастинги</div>
                                <div class="tag">Новости</div>
                            </div>
                        </div>

                        <div class="m_news">
                            <a class="n_block">
                                <img src="{% static 'images/m_news1.jpg' %}" alt="image">

                                <div class="type">
                                    <div class="tag">Советы</div>
                                    <div class="tag">Новости</div>
                                </div>
                            </a>
                            <div class="n_desc">
                                <h5><a href="#">Как актеру массовки стать звездой кино</a></h5>

                                <p>Его характеризует предельно короткое время перезарядки, длительность импульса...</p>
                                <span>15. 12. 2016</span>

                                <p><a href="#">Читать подробнее</a></p>
                            </div>
                        </div>

                        <div class="m_news">
                            <div class="n_block">
                                <img src="{% static 'images/m_news2.jpg' %}" alt="image">

                                <div class="type">
                                    <div class="tag">Советы</div>
                                    <div class="tag">Новости</div>
                                </div>
                            </div>
                            <div class="n_desc">
                                <h5><a href="#">Как актеру массовки стать звездой кино</a></h5>

                                <p>Его характеризует предельно короткое время перезарядки, длительность импульса...</p>
                                <span>15. 12. 2016</span>

                                <p><a href="#">Читать подробнее</a></p>
                            </div>
                        </div>

                        <div class="s_news">
                            <h5><a href="#">Кастинговое агенство “The face” набирает актерев для нового проекта</a></h5>

                            <p>Его характеризует предельно короткое время перезарядки, длительность импульса,
                                способная «заморозить» движение при съемке предельно короткое время перезарядки,
                                длительность импульса...</p>
                            <span>15. 12. 2016</span>

                            <p><a href="#">Читать подробнее</a></p>

                            <div class="type">
                                <div class="tag">Кастинги</div>
                                <div class="tag">Новости</div>
                            </div>
                        </div>

                        <div class="l_news">
                            <h5><a href="#">Кастинговое агенство “The face” набирает актерев для нового проекта</a></h5>

                            <p>Его характеризует предельно короткое время перезарядки, длительность импульса, способная
                                «заморозить» движение при съемке длительность импульса, способная «заморозить» движение
                                при
                                съемке...</p>

                            <span>15. 12. 2016</span>

                            <p><a href="#">Читать подробнее</a></p>

                            <div class="type">
                                <div class="tag">Кастинги</div>
                                <div class="tag">Новости</div>
                            </div>
                        </div>
                    </div>
                    <div class="col2">
                        <div class="m_news">
                            <a class="n_block">
                                <img src="{% static 'images/m_news1.jpg' %}" alt="image">

                                <div class="type">
                                    <div class="tag">Советы</div>
                                    <div class="tag">Новости</div>
                                </div>
                            </a>
                            <div class="n_desc">
                                <h5><a href="#">Как актеру массовки стать звездой кино</a></h5>

                                <p>Его характеризует предельно короткое время перезарядки, длительность импульса...</p>
                                <span>15. 12. 2016</span>

                                <p><a href="#">Читать подробнее</a></p>
                            </div>
                        </div>

                        <div class="m_news">
                            <div class="n_block">
                                <img src="{% static 'images/m_news2.jpg' %}" alt="image">

                                <div class="type">
                                    <div class="tag">Советы</div>
                                    <div class="tag">Новости</div>
                                </div>
                            </div>
                            <div class="n_desc">
                                <h5><a href="#">Как актеру массовки стать звездой кино</a></h5>

                                <p>Его характеризует предельно короткое время перезарядки, длительность импульса...</p>
                                <span>15. 12. 2016</span>

                                <p><a href="#">Читать подробнее</a></p>
                            </div>
                        </div>

                        <div class="s_news">
                            <h5><a href="#">Кастинговое агенство “The face” набирает актерев для нового проекта</a></h5>

                            <p>Его характеризует предельно короткое время перезарядки, длительность импульса,
                                способная «заморозить» движение при съемке предельно короткое время перезарядки,
                                длительность импульса...</p>
                            <span>15. 12. 2016</span>

                            <p><a href="#">Читать подробнее</a></p>

                            <div class="type">
                                <div class="tag">Кастинги</div>
                                <div class="tag">Новости</div>
                            </div>
                        </div>

                        <div class="l_news">
                            <h5><a href="#">Кастинговое агенство “The face” набирает актерев для нового проекта</a></h5>

                            <p>Его характеризует предельно короткое время перезарядки, длительность импульса, способная
                                «заморозить» движение при съемке длительность импульса, способная «заморозить» движение
                                при
                                съемке...</p>

                            <span>15. 12. 2016</span>

                            <p><a href="#">Читать подробнее</a></p>

                            <div class="type">
                                <div class="tag">Кастинги</div>
                                <div class="tag">Новости</div>
                            </div>
                        </div>

                        <div class="m_news">
                            <a class="n_block">
                                <img src="{% static 'images/m_news1.jpg' %}" alt="image">

                                <div class="type">
                                    <div class="tag">Советы</div>
                                    <div class="tag">Новости</div>
                                </div>
                            </a>
                            <div class="n_desc">
                                <h5><a href="#">Как актеру массовки стать звездой кино</a></h5>

                                <p>Его характеризует предельно короткое время перезарядки, длительность импульса...</p>
                                <span>15. 12. 2016</span>

                                <p><a href="#">Читать подробнее</a></p>
                            </div>
                        </div>

                        <div class="m_news">
                            <div class="n_block">
                                <img src="{% static 'images/m_news1.jpg' %}" alt="image">

                                <div class="type">
                                    <div class="tag">Советы</div>
                                    <div class="tag">Новости</div>
                                </div>
                            </div>
                            <div class="n_desc">
                                <h5><a href="#">Как актеру массовки стать звездой кино</a></h5>

                                <p>Его характеризует предельно короткое время перезарядки, длительность импульса...</p>
                                <span>15. 12. 2016</span>

                                <p><a href="#">Читать подробнее</a></p>
                            </div>
                        </div>
                    </div>
                </div>

                <ul class="pagination">
                    <li><a href="#">пред</a></li>
                    <li><a href="#">1</a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">...</a></li>
                    <li><a href="#">55</a></li>
                    <li><a href="#">след</a></li>
                </ul>
            </div>
        </div>
    </div>

    {% block scripts %}

        <script>
            $('.tabs-stage > div').hide();
            $('.tabs-stage > div:nth-child(1)').show();
            $('.tabs-nav > li:first-child a').addClass('tab-active');

            // Изменить класс вкладки и отобразить содержимое
            $('.tabs-nav > li > a').on('click', function (event) {
                event.preventDefault();
                $('.tabs-nav > li a').removeClass('tab-active');
                $(this).addClass('tab-active');
                $('.tabs-stage > div').hide(500);
                $($(this).attr('href')).show(500);
            });
        </script>
    {% endblock %}

{% endblock %}