{% extends 'base.html' %}

{% load staticfiles %}

{% block content %}

    <div class="b_bg1">
        <div class="b_content1 grid">
            {% include 'main/header.html' %}

            <h3>Новости и кастинги</h3>

        </div>
    </div>

    <div class="n_bg1">
        <div class="n_content1 grid">
            <ul class="tabs-nav">
                <li><a href="#tab-1">Все новости</a></li>
                <li><a href="#tab-2">Кастинги</a></li>
                <li><a href="#tab-3">Новости</a></li>
                <li><a href="#tab-4">Советы</a></li>
            </ul>

            {% for new in news %}
                <div class="m_news" id="tab-2">

                    <a class="n_block" href="{% url 'single_news' id=new.id %}">
                        <img src="/media/{{ MEDIA_URL }}{{ new.image }}" alt="image">

                        <div class="type">
                            <div class="tag">Советы</div>
                            <div class="tag">Новости</div>
                        </div>
                    </a>

                    <div class="n_desc">
                        <h5><a href="{% url 'single_news' id=new.id %}">{{ new.title }}</a></h5>

                        <p>{{ new.description | truncatewords:15 }}</p>
                        <span>{{ new.timestamp }}</span>

                        <p><a href="{% url 'single_news' id=new.id %}">Читать подробнее</a></p>
                    </div>
                </div>



            {% endfor %}
            <ul class="pagination" style="text-align: center;">
                {% if news.has_previous %}

                    <li><a href="?page={{ news.previous_page_number }}">пред</a></li>

                {% endif %}

                <li><a href="#" class="active">{{ news.number }} из {{ news.paginator.num_pages }}</a>
                </li>

                {% if news.has_next %}

                    <li><a href="?page={{ news.next_page_number }}">след</a></li>

                {% endif %}
            </ul>
        </div>
    </div>

    {% block scripts %}

        <script>
            $('.tabs-stage > div').hide();
            $('.tabs-stage > div:nth-child(1)').show();
            $('.tabs-nav > li:first-child a').addClass('tab-active');

            // Изменить класс вкладки и отобразить содержимое
            $('.tabs-nav > li > a').on('click', function (event) {
                                event.preventDefault();
                $('.tabs-nav > li a').removeClass('tab-active');
                $(this).addClass('tab-active');
                $('.tabs-stage > div').hide(500);
                $($(this).attr('href')).show(500);
            });
        </script>
    {% endblock %}

{% endblock %}