{% extends 'base.html' %}

{% load staticfiles %}


{% block content %}

    <div id="SmyModal" class="modal">


        <!-- Modal content -->

        <div class="modal-content s_modal">

            <h3>Зарегистрируй свою студию и клиент сам найдет тебя!</h3>


            <form method="post" action="{% url 'get_studio' %}" class="modal_form sm_form">


                <div class="field">

                    <label for="studio">Название студии<br>

                        <input type="text" name="studio" id="studio">

                    </label>

                </div>


                <div class="field">

                    <label for="s_type">Тип студии<br>

                        <select name="select-name" id="s_type">

                            <option>Production студия</option>

                            <option>Киностудия</option>

                            <option>Студия звукозаписи</option>

                            <option>Интерьерная студия</option>



                        </select>

                    </label>

                </div>


                <div class="field">

                    <div class="switch-title">Площадь в м2</div>

                    <label for="area1">

                        <input type="number" name="from_area" id="area1" placeholder="от">

                    </label>


                    <label for="area2">

                        <input type="number" name="to_area" id="area2" placeholder="до">

                    </label>

                </div>


                <div class="field">

                    <label for="name">Имя контактного лица<br>

                        <input type="text" name="name" id="name">

                    </label>


                    <label for="surname">Фамилия контактного лица<br>

                        <input type="text" name="surname" id="surname">

                    </label>

                </div>


                <div class="field checkbox">

                    <div class="switch-title">Предоставляемые услуги</div>

                    <input id="check1" type="checkbox" name="fotoset">

                    <label for="check1">Фотосессия</label>


                    <input id="check2" type="checkbox" name="ad_video">

                    <label for="check2">Рекламный ролик</label>


                    <input id="check3" type="checkbox" name="original_music">

                    <label for="check3">Оригинальная музыка</label>


                    <input id="check4" type="checkbox" name="music_clip">

                    <label for="check4">Музыкальный клип</label>


                    <input id="check5" type="checkbox" name="record_song">

                    <label for="check5">Запись песни</label>


                    <input id="check6" type="checkbox" name="interyer">

                    <label for="check6">Интерьерная студия</label>


                    <input id="check7" type="checkbox" name="film">

                    <label for="check7">Фильм</label>


                    <input id="check8" type="checkbox" name="social_clip">

                    <label for="check8">Социальный ролик</label>


                    <input id="check9" type="checkbox" name="aranjirovka">

                    <label for="check9">Аранжировка</label>


                    <input id="check10" type="checkbox" name="audio_ad">

                    <label for="check10">Аудио реклама</label>


                    <input id="check11" type="checkbox" name="ozvuchka">

                    <label for="check11">Озвучка</label>

                </div>


                <div class="field">

                    <label for="comments1">Информация об агенстве<br>

                        <textarea name="info" id="comments1" cols="20" rows="10"></textarea>

                    </label>

                </div>


                <div class="field">

                    <label for="comments2">Информация об аппаратуре (если необходимо)<br>

                        <textarea name="info_apparatura" id="comments2" cols="20" rows="10"></textarea>

                    </label>

                </div>


                <div class="field">


                    <ul class="blocks">

                        <li class="item">

                            <label for="project">Проекты<br>

                                <input type="text" name="project_name" id="project" placeholder="Название проекта">

                            </label>

                        </li>

                    </ul>


                    <ul class="link_block">

                        <li class="link_item">

                            <label for="link">Ссылка на видео<br>

                                <input type="text" name="video_link" id="link" placeholder="Введите ссылку">

                            </label>

                        </li>

                    </ul>


                    <button class="add-block"><img src="{% static 'images/plus_icon.png' %}" alt="image">Добавить еще
                        один
                        проект и

                        ссылку на видео

                    </button>

                </div>


                {#                <div class="file_container">#}
                {##}
                {##}
                {#                    <div class="field add-img">#}
                {##}
                {#                        <button class="button_file" type="button">#}
                {##}
                {#                            + Добавить файл#}
                {##}
                {#                            <input type="file" id="input-file" multiple>#}
                {##}
                {#                        </button>#}
                {##}
                {#                        <p class="nadded">Формат: jpg, jpeg, png</p>#}
                {##}
                {#                        <p class="added"></p>#}
                {##}
                {##}
                {#                    </div>#}
                {##}
                {##}
                {#                </div>#}


                <div class="field">

                    <label for="s_address">Адрес студии<br>

                        <input type="text" name="address" id="s_address">

                    </label>

                </div>


                <div class="field">

                    <label for="s_numbers">Телефоны студии<br>

                        <input type="number" name="number" id="s_numbers">

                    </label>

                </div>


                <div class="field">

                    <label for="s_links">Ссылка на сайт<br>

                        <input type="url" name="site_link" id="s_links">

                    </label>

                </div>


                <div class="field">

                    <label for="s_email">E-mail студии<br>

                        <input type="email" name="email" id="s_email">

                    </label>

                </div>


                <div class="field">

                    <div class="switch-title">Данные контактного лица</div>

                    <label for="phone">
                        <br>
                        * Номер телефона обязателен к заполнению
                        <input type="tel" name="contacts_phone" id="phone" placeholder="Телефон" required>

                    </label>


                    <label for="email">

                        <input type="email" name="contacts_email" id="email" placeholder="E-mail">

                    </label>

                </div>


                <div class="button_block">

                    <button type="reset" name="reset">Очистить фильтры</button>

                    <input type="submit" name="button" value="Отправить" class="submit">

                </div>


            </form>

            <span class="modal_close"></span>

        </div>


    </div>


    <div class="b_bg1">
        <div class="b_content1 grid">
            {% include 'main/header.html' %}

            <h3>Студии</h3>

            {#            <div class="favourite">#}
            {#                <div class="count">15</div>#}
            {#                <img src="{% static 'images/fav_icon.png' %}" alt="icon">#}
            {#                <span>Избранное</span>#}
            {#            </div>#}
        </div>
    </div>

    <div class="s_bg1">
        <div class="s_content1 grid">
            <form method="post" action="{% url 'result_studio' %}" class="s_form">
                {#                <div class="field">#}
                {#                    <label for="e_select3">Тип студии<br>#}
                {#                        <select name="select-name" id="e_select3">#}
                {#                            <option selected disabled>Выбрать</option>#}
                {#                            <option>Ош</option>#}
                {#                            <option>Каракол</option>#}
                {#                            <option>Чолпон-Ата</option>#}
                {#                        </select>#}
                {#                    </label>#}
                {#                </div>#}

                <div class="s_field">
                    <label for="e_select4">Услуги<br>
                        <select class="s_select" name="select-name" id="e_select4" multiple>
                            <option value="1" selected disabled>Выбрать</option>
                            <option value="2">Фотосессия</option>
                            <option value="2">Рекламный ролик</option>
                            <option value="2">Социальный ролик</option>
                            <option value="2">Музыкальный клип</option>
                            <option value="2">Фильм</option>
                            <option value="2"> Озвучка</option>
                            <option value="2">Аудио реклама</option>
                            <option value="2">Оригинальная музыка</option>
                            <option value="2"> Аранжировка</option>
                            <option value="2">Интерьерная студия</option>
                        </select>
                    </label>
                </div>

                <input type="submit" name="button" value="Найти студию" class="submit">
                <a href="#" class="link" id="SmyBtn">Попасть в базу студий</a>
            </form>

            <div class="studio">
                {% for item in studio %}
                    <div class="m_maker">
                        <div class="m_block">
                            <a href="{% url 'single_studio' id=item.id %}"> <img
                                    src="/media/{{ MEDIA_URL }}{{ item.image }}" alt="image"></a>
                        </div>

                        <div class="moviemaker">
                            <h5>Кастингове
                                агенство {{ item.name }}</h5>

                            {#                            <div class="fav_button link"><img src="{% static 'images/favourite_icon.png' %}" alt="icon">Добавить#}
                            {#                                в#}
                            {#                                избранное#}
                            {#                            </div>#}
                            <br>
                            <ul class="m_desc">
                                <li>Об агенстве:</li>
                                <li>{{ item.about }}
                                </li>
                                <li>Адрес:</li>
                                <li>{{ item.address }}</li>
                                <li>Сайт:</li>
                                <li><a href="{{ item.site }}">{{ item.site }}</a></li>
                                <li>Телефоны:</li>
                                <li>{{ item.number }}</li>
                                <li>E-mail:</li>
                                <li><a href="#">{{ item.email }}</a></li>
                                <li></li>
                                <li>
                                    {% for project in item.projectstudio_set.all %}
                                        <div class="project">
                                            <div class="p_desc">{{ project.title }}</div>
                                            <div class="p_img">
                                                <div class="project_hover"></div>
                                                <img src="/media/{{ MEDIA_URL }}{{ project.image }}" alt="project">
                                            </div>
                                        </div>
                                    {% endfor %}

                                </li>
                            </ul>
                        </div>
                    </div>
                {% endfor %}

                <ul class="pagination" style="text-align: center;">
                    {% if studio.has_previous %}

                        <li><a href="?page={{ studio.previous_page_number }}">пред</a></li>

                    {% endif %}

                    <li><a href="#" class="active">{{ studio.number }} из {{ studio.paginator.num_pages }}</a></li>

                    {% if studio.has_next %}

                        <li><a href="?page={{ studio.next_page_number }}">след</a></li>

                    {% endif %}
                </ul>
            </div>
        </div>
    </div>

    {% block scripts %}

        <script>
            $('.s_select').SumoSelect();
        </script>

        <script>
            var $blocks = $('.blocks');
            var $link_block = $('.link_block');
            totalBlocks = $blocks.children('.item').length;
            totalBlocks = $link_block.children('.link_item').length;


            $('.add-block').click(function (e) {
                var $newBlock = $('<li class="item"><input type="text" name="name" id="project" placeholder="Название проекта"></li>');
                var $linkBlock = $('<li class="link_item"><input type="text" name="name" id="project" placeholder="Введите ссылку"></li>');

                ++totalBlocks;
//        $newBlock.text('Item ' + totalBlocks);
                $blocks.append($newBlock);
                $link_block.append($linkBlock);
                e.preventDefault();
            });

            function reorderBlocks() {
                var $blockItems = $blocks.children('.item');
                $blockItems.each(function (index) {
//            $(this).text('Item ' + (index + 1));
                });
            }
        </script>

        <script>
            $(document).ready(function () {
                var clickFund = function () {
                    var fieldImg = $(this).parent(".add-img");
                    var added = $(fieldImg).find('.added');
                    var nadded = $(fieldImg).find('.nadded');

                    $(this).find("input[type=file]").change(function () {
                        var filename = $(this).val().replace(/.*\\/, "");

                        $(added).text(filename + " загружен");
                        $(this).parent().hide();
                        $(nadded).hide();
                        $(fieldImg).after(' "<div class="field add-img"> <button class="button_file" type="button"> Добавить другой файл <input type="file" id="input-file" multiple> </button> <p class="added"></p></div>"');

                        $('.add-img button').on('click', clickFund);
                    });
                    $('.add-img button').on('click', clickFund);
                };
                $('.add-img button').on('click', clickFund);

            });
        </script>

        <script>
            {% if message == 'error' %}
                alert('Введите ваш номер телефона');
            {% endif %}
        </script>


        <script>
            {% if message == 'success' %}
                alert('Ваша заявка успешно отправлена!');
            {% endif %}
        </script>

        <script>
            // Get the modal
            var Smodal = document.getElementById('SmyModal');

            // Get the button that opens the modal
            var Sbtn = document.getElementById("SmyBtn");

            // Get the <span> element that closes the modal
            var Sspan = document.getElementsByClassName("modal_close")[0];

            // When the user clicks the button, open the modal
            Sbtn.onclick = function () {
                Smodal.style.display = "block";
            };

            // When the user clicks on <span> (x), close the modal
            Sspan.onclick = function () {
                Smodal.style.display = "none";
            };

            // When the user clicks anywhere outside of the modal, close it
            window.onclick = function (event) {
                if (event.target == Smodal) {
                    Smodal.style.display = "none";
                }
            };
        </script>

    {% endblock %}

{% endblock %}