<p><strong>Name: {{ name }} </strong></p>
<p><strong>Town: {{ town }} </strong></p>
<p><strong>Area from: {{ from_area }} </strong></p>
<p><strong>Area to: {{ to_area }} </strong></p>
<p><strong>contacts name: {{ contacts_name }} </strong></p>
<p><strong>surname: {{ surname }} </strong></p>
<p><strong>fotoset: {{ fotoset }} </strong></p>
<p><strong>ad_video: {{ ad_video }} </strong></p>
<p><strong>original_music: {{ original_music }} </strong></p>
<p><strong>music_clip: {{ music_clip }} </strong></p>
<p><strong>record_song: {{ record_song }} </strong></p>
<p><strong>interyer: {{ interyer }} </strong></p>
<p><strong>film: {{ film }} </strong></p>
<p><strong>social_clip: {{ social_clip }} </strong></p>
<p><strong>aranjirovka: {{ aranjirovka }} </strong></p>
<p><strong>audio_ad: {{ audio_ad }} </strong></p>
<p><strong>ozvuchka: {{ ozvuchka }} </strong></p>
<p><strong>info: {{ info }} </strong></p>
<p><strong>info_apparatura: {{ info_apparatura }} </strong></p>
<p><strong>project_name: {{ project_name }} </strong></p>
<p><strong>video_link: {{ video_link }} </strong></p>
<p><strong>address: {{ address }} </strong></p>
<p><strong>number: {{ number }} </strong></p>
<p><strong>site_link: {{ site_link }} </strong></p>
<p><strong>email: {{ email }} </strong></p>
<p><strong>contacts_phone: {{ contacts_phone }} </strong></p>
<p><strong>contacts_email: {{ contacts_email }} </strong></p>

