<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>The Face</title>
    <link rel="stylesheet" href="assets/css/magnific-popup.css" type="text/css">
    <link rel="stylesheet" href="assets/css/normalize.css" type="text/css">
    <link rel="stylesheet" href="assets/css/styles.css" type="text/css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<div class="b_bg1">
    <div class="b_content1 grid">
        <header class="group">
            <a href="#" class="logo"><img src="assets/images/header_logo.png" alt="logotype"></a>

            <nav class="responsive menu-collapsed">
                <div class="bar"></div>
                <ul class="menu">
                    <li><a href="#">Главная</a></li>
                    <li><a href="#">Актеры</a></li>
                    <li><a href="#">Кинематографисты</a></li>
                    <li><a href="#">Студии</a></li>
                    <li><a href="#">локации</a></li>
                    <li><a href="#">услуги</a></li>
                    <li><a href="#">О нас</a></li>
                    <li><a href="#">Новости и кастинги</a></li>
                    <li><a href="#">Контакты</a></li>
                </ul>
            </nav>

            <div class="h_block">
                <div class="p_number"><img src="assets/images/phone_icon.png" alt="icon">+ 996 558 002 444</div>
            </div>
        </header>

        <h3>Студии</h3>

        <div class="favourite">
            <div class="count">15</div>
            <img src="assets/images/fav_icon.png" alt="icon">
            <span>Избранное</span>
        </div>
    </div>
</div>

<div class="c_bg1">
    <div class="c_content1 grid">
        <div class="casting">
            <div class="c_container">
                <div class="m_block">
                    <img src="assets/images/studio_logo.jpg" alt="image">
                </div>

                <div class="p_block">
                    <h3>Хотите заказать услугу?</h3>

                    <h3>Свяжитесь с нами!</h3>

                    <a href="#" class="button">Заполнить заявку</a>
                    <div class="p_number"><img src="assets/images/phone_icon.png" alt="icon">+ 996 558 002 444 </div>
                    <div class="p_gmail"><a href="#"><img src="assets/images/line.png" alt="image">thefacekg@gmail.com</a></div>
                </div>
            </div>

            <div class="moviemaker">
                <h5>Кастинговое агенство THE FACE</h5>

                <div class="fav_button link"><img src="assets/images/favourite_icon.png" alt="icon">Добавить в
                    избранное
                </div>

                <ul class="m_desc">
                    <li>О студии:</li>
                    <li>Студийный генератор, пользующийся наибольшей популярностью во всем мире, и на то есть
                        убедительные причины. Pro-8 – это наш флагман. Его характеризует предельно короткое время
                        перезарядки, длительность импульса, способная «заморозить» движение при съемке,
                        непревзойденная надежность и цветовая стабильность. Все это, в и рент-компаниях
                        по всему миру. Студийный генератор, пользующийся наибольшей популярностью во всем мире,
                        и на то есть убедительные причины. Pro-8 – это наш флагман. Его характеризует предельно
                        короткое время перезарядки, длительность импульса.
                    </li>
                    <li>Услуги агенства:</li>
                    <li>
                        <ul class="bullet">
                            <li>Фотосессия</li>
                            <li>Съемка рекламных социальных роликов</li>
                            <li>Производство фильмов</li>
                            <li>Запись песен</li>
                            <li>Производство аудио рекламы</li>
                            <li>Озвучка</li>
                        </ul>
                    </li>
                    <li>Аппаратура:</li>
                    <li>Pro-8 – это наш флагман. Его характеризует предельно короткое время перезарядки,
                        длительность импульса, способная «заморозить» движение при съемке, непревзойденная
                        надежность и цветовая стабильность.
                    </li>
                    <li>Площадь помещения:</li>
                    <li>120 м²</li>
                    <li>Адрес:</li>
                    <li>ул. Советсткая 1/1 пер. проспект Мира.</li>
                    <li>Сайт:</li>
                    <li><a href="#">www.freshfilms.su</a></li>
                    <li>Телефоны:</li>
                    <li>+996 772 195836<br> +996 553 110 554 <br>+312 99 87 65</li>
                    <li>E-mail:</li>
                    <li><a href="#">thefacekg@gmail.com</a></li>
                </ul>

                <h6>Фотосессии</h6>

                <div class="photoshoot">

                    <div class="shoot">
                        <a href="assets/images/m1.jpg" class="item">
                            <div class="shoot_hover"></div>
                            <img src="assets/images/session1.jpg" alt="image">
                        </a>
                    </div>

                    <div class="shoot">
                        <a href="assets/images/m1.jpg" class="item">
                            <div class="shoot_hover"></div>
                            <img src="assets/images/session1.jpg" alt="image">
                        </a>
                    </div>

                    <div class="shoot">
                        <a href="assets/images/m1.jpg" class="item">
                            <div class="shoot_hover"></div>
                            <img src="assets/images/session1.jpg" alt="image">
                        </a>
                    </div>

                    <div class="shoot">
                        <a href="assets/images/m1.jpg" class="item">
                            <div class="shoot_hover"></div>
                            <img src="assets/images/session1.jpg" alt="image">
                        </a>
                    </div>

                    <div class="shoot">
                        <a href="assets/images/m1.jpg" class="item">
                            <div class="shoot_hover"></div>
                            <img src="assets/images/session1.jpg" alt="image">
                        </a>
                    </div>

                    <div class="shoot">
                        <a href="assets/images/m1.jpg" class="item">
                            <div class="shoot_hover"></div>
                            <img src="assets/images/session1.jpg" alt="image">
                        </a>
                    </div>

                    <div class="shoot">
                        <a href="assets/images/m1.jpg" class="item">
                            <div class="shoot_hover"></div>
                            <img src="assets/images/session1.jpg" alt="image">
                        </a>
                    </div>

                    <div class="shoot">
                        <a href="assets/images/m1.jpg" class="item">
                            <div class="shoot_hover"></div>
                            <img src="assets/images/session1.jpg" alt="image">
                        </a>
                    </div>
                </div>

                <h6>Видеоролики</h6>

                <div class="videos">
                    <div class="video">
                        <iframe src="https://www.youtube.com/embed/nSDgHBxUbVQ" frameborder="0" allowfullscreen></iframe>
                    </div>
                    <div class="video">
                        <iframe src="https://www.youtube.com/embed/nSDgHBxUbVQ" frameborder="0" allowfullscreen></iframe>
                    </div>
                    <div class="video">
                        <iframe src="https://www.youtube.com/embed/nSDgHBxUbVQ" frameborder="0" allowfullscreen></iframe>
                    </div>
                    <div class="video">
                        <iframe src="https://www.youtube.com/embed/nSDgHBxUbVQ" frameborder="0" allowfullscreen></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<footer>
    <div class="content6 grid group">
        <div class="about f_block">
            <a href="#"><img src="assets/images/logo.png" alt="logo"></a>

            <p>Организация и проведение кастингов, сбор статистов для массовых сцен, предоставленте сотрудников
                актерского департамента: директор по кастингу, ассистент по актерам.</p>

            <p>Использование любых данных с сайта только с разрешения правообладателей</p>
        </div>

        <div class="about_us f_block">
            <ul class="f_links">
                <li><a href="#">О нас</a></li>
                <li><a href="#">Об агенстве</a></li>
                <li><a href="#">Новости и кастинги</a></li>
                <li><a href="#">Контакты</a></li>
                <li><a href="#">Наши услуги</a></li>
                <li><a href="#">Примеры работ</a></li>
            </ul>
        </div>

        <div class="cinema f_block">
            <ul class="f_links">
                <li><a href="#">Наша база</a></li>
                <li><a href="#">Актеры</a></li>
                <li><a href="#">Кинематографисты</a></li>
                <li><a href="#">Студии</a></li>
                <li><a href="#">Локации</a></li>
            </ul>
        </div>

        <div class="contacts f_block">
            <div class="title">Наши телефоны:</div>
            <p>+ 996 558 002 444</p>

            <div class="title">Электронная почта:</div>
            <p>thefacekg@gmail.com</p>
        </div>

        <div class="address f_block">
            <div class="title">Наш адрес:</div>
            <p>г. Бишкек, ул. Калык Акиева 66</p>

            <div class="title">Мы в социальных сетях</div>

            <ul class="share">
                <li class="facebook"><a class="social " href="#"></a></li>
                <li class="google"><a class="social " href="#"></a></li>
                <li class="twitter"><a class="social " href="#"></a></li>
                <li class="vk"><a class="social " href="#"></a></li>
                <li class="youtube"><a class="social " href="#"></a></li>
            </ul>

        </div>
    </div>
</footer>

<script src="assets/js/jquery-3.1.0.min.js"></script>
<script type="text/javascript" src="assets/js/jquery.magnific-popup.min.js"></script>
<script src="assets/js/script.js"></script>
<script>
    $(".item").magnificPopup({
        type: 'image',
        gallery: {
            enabled: true
        }
    });
</script>
</body>
</html>