{% extends 'base.html' %}

{% load staticfiles %}

{% block content %}
    <div class="b_bg1">
        <div class="b_content1 grid">
            <header class="group">
                <a href="#" class="logo"><img src="assets/images/header_logo.png" alt="logotype"></a>

                <nav class="responsive menu-collapsed">
                    <div class="bar"></div>
                    <ul class="menu">
                        <li {% if location == 'index' %}class="active"{% endif %}><a
                                href="{% url 'index' %}">Главная</a></li>
                        <li {% if location == 'actors' %}class="active"{% endif %}><a
                                href="{% url 'actor' %}">Актеры</a></li>
                        <li {% if location == 'moviemaker' %}class="active"{% endif %}><a href="{% url 'moviemaker' %}">Кинематографисты</a>
                        </li>
                        <li><a href="{% url 'studio' %}">Студии</a></li>
                        <li {% if location == 'location' %}class="active"{% endif %}><a
                                href="{% url 'location' %}">локации</a></li>
                        <li><a href="#">услуги</a></li>
                        <li><a href="#">О нас</a></li>
                        <li><a href="{% url 'news' %}">Новости и кастинги</a></li>
                        <li><a href="#">Контакты</a></li>
                    </ul>
                </nav>

                <div class="h_block">
                    <div class="p_number"><img src="assets/images/phone_icon.png" alt="icon">+ 996 558 002 444</div>
                </div>
            </header>

            <h3>Студии</h3>

            <div class="favourite">
                <div class="count">15</div>
                <img src="assets/images/fav_icon.png" alt="icon">
                <span>Избранное</span>
            </div>
        </div>
    </div>

    <div class="s_bg1">
        <div class="s_content1 grid">
            <form method="post" action="#" class="s_form">
                <div class="field">
                    <label for="e_select3">Тип студии<br>
                        <select name="select-name" id="e_select3">
                            <option value="1" selected disabled>Выбрать</option>
                            <option value="2">Ош</option>
                            <option value="2">Каракол</option>
                            <option value="2">Чолпон-Ата</option>
                        </select>
                    </label>
                </div>

                <div class="s_field">
                    <label for="e_select4">Услуги<br>
                        <select class="s_select" name="select-name" id="e_select4" multiple>
                            <option value="1" selected disabled>Выбрать</option>
                            <option value="2">Фотосессия</option>
                            <option value="2">Рекламный ролик</option>
                            <option value="2">Социальный ролик</option>
                            <option value="2">Музыкальный клип</option>
                            <option value="2">Фильм</option>
                            <option value="2"> Озвучка</option>
                            <option value="2">Аудио реклама</option>
                            <option value="2">Оригинальная музыка</option>
                            <option value="2"> Аранжировка</option>
                            <option value="2">Интерьерная студия</option>
                        </select>
                    </label>
                </div>

                <input type="submit" name="button" value="Найти студию" class="submit">
                <a href="#" class="link">Попасть в базу студий</a>
            </form>

            <div class="studio">
                {% for item in studio %}
                    <div class="m_maker">
                        <div class="m_block">
                            <img src="/media/{{ MEDIA_URL }}{{ item.image }}" alt="image">
                        </div>

                        <div class="moviemaker">
                            <h5>Кастингове агенство {{ item.name }}</h5>

                            <div class="fav_button link"><img src="assets/images/favourite_icon.png" alt="icon">Добавить
                                в
                                избранное
                            </div>

                            <ul class="m_desc">
                                <li>Об агенстве:</li>
                                <li>{{ item.about }}
                                </li>
                                <li>Адрес:</li>
                                <li>{{ item.address }}</li>
                                <li>Сайт:</li>
                                <li><a href="{{ item.site }}">{{ item.site }}</a></li>
                                <li>Телефоны:</li>
                                <li>{{ item.number }}</li>
                                <li>E-mail:</li>
                                <li><a href="#">{{ item.email }}</a></li>
                                <li></li>
                                <li>
                                    <div class="project">
                                        <div class="p_desc">Режиссер <br> “Беш кыял”</div>
                                        <div class="p_img">
                                            <div class="project_hover"></div>
                                            <img src="assets/images/sp_1.jpg" alt="project">
                                        </div>
                                    </div>

                                    <div class="project">
                                        <div class="p_desc">Режиссер <br> “Беш кыял”</div>
                                        <div class="p_img">
                                            <div class="project_hover"></div>
                                            <img src="assets/images/sp_1.jpg" alt="project">
                                        </div>
                                    </div>

                                    <div class="project">
                                        <div class="p_desc">Видеовизитка для компании “Аристократ”</div>
                                        <div class="p_img">
                                            <div class="project_hover"></div>
                                            <img src="assets/images/sp_1.jpg" alt="project">
                                        </div>
                                    </div>

                                    <div class="project">
                                        <div class="p_desc">Режиссер <br> “Беш кыял”</div>
                                        <div class="p_img">
                                            <div class="project_hover"></div>
                                            <img src="assets/images/sp_1.jpg" alt="project">
                                        </div>
                                    </div>

                                    <a href="#" class="link">+ 4 проекта</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                {% endfor %}

                <ul class="pagination">
                    <li><a href="#">пред</a></li>
                    <li><a href="#">1</a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">...</a></li>
                    <li><a href="#">55</a></li>
                    <li><a href="#">след</a></li>
                </ul>
            </div>
        </div>
    </div>

    {% block scripts %}

        <script>
            $('.s_select').SumoSelect();
        </script>
    {% endblock %}

{% endblock %}